<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
××§×•×¨: [Spark By Examples - Select Columns From DataFrame
](https://sparkbyexamples.com/pyspark/select-columns-from-pyspark-dataframe/)

# ğŸ¯ PySpark - ×‘×—×™×¨×ª ×¢××•×“×•×ª ×-DataFrame

**×ª××¨×™×š:** 12 ×‘×××™, 2024  
**×–××Ÿ ×§×¨×™××” ××©×•×¢×¨:** 10 ×“×§×•×ª

---

## ğŸ¯ ××‘×•×

×‘-PySpark, ×¤×•× ×§×¦×™×™×ª `select()` ××©××©×ª ×œ×‘×—×™×¨×ª:
- ×¢××•×“×” ×‘×•×“×“×ª
- ××¡×¤×¨ ×¢××•×“×•×ª
- ×¢××•×“×” ×œ×¤×™ ××™× ×“×§×¡
- ×›×œ ×”×¢××•×“×•×ª ××¨×©×™××”
- ×¢××•×“×•×ª ××§×•× × ×•×ª ×-DataFrame

PySpark `select()` ×”×™× **×¤×•× ×§×¦×™×™×ª ×˜×¨× ×¡×¤×•×¨××¦×™×”** ×•×œ×›×Ÿ ×”×™× ××—×–×™×¨×” DataFrame ×—×“×© ×¢× ×”×¢××•×“×•×ª ×©× ×‘×—×¨×•.

### ğŸ“‹ ×ª×•×›×Ÿ ×”×¢× ×™×™× ×™×:

1. ×‘×—×™×¨×ª ×¢××•×“×” ×™×—×™×“×” ×•××¨×•×‘×” ×-PySpark
2. ×‘×—×™×¨×ª ×›×œ ×”×¢××•×“×•×ª ××¨×©×™××”
3. ×‘×—×™×¨×ª ×¢××•×“×•×ª ×œ×¤×™ ××™× ×“×§×¡
4. ×‘×—×™×¨×ª ×¢××•×“×•×ª Nested Struct ×-PySpark
5. ×“×¨×›×™× × ×•×¡×¤×•×ª ×œ×‘×—×™×¨×ª ×¢××•×“×•×ª

## ğŸ“ ×”×›× ×ª DataFrame ×œ×“×•×’××”

×¨××©×™×ª, ×‘×•××• × ×™×¦×•×¨ DataFrame ×œ×“×•×’××”:

In [ ]:
import pyspark
from pyspark.sql import SparkSession

# ×™×¦×™×¨×ª SparkSession
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

# × ×ª×•× ×™ ×“×•×’××”
data = [
    ("James", "Smith", "USA", "CA"),
    ("Michael", "Rose", "USA", "NY"),
    ("Robert", "Williams", "USA", "CA"),
    ("Maria", "Jones", "USA", "FL")
]

# ×©××•×ª ×¢××•×“×•×ª
columns = ["firstname", "lastname", "country", "state"]

# ×™×¦×™×¨×ª DataFrame
df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

**×ª×•×¦××” ×¦×¤×•×™×”:**

```
+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|James    |Smith   |USA    |CA   |
|Michael  |Rose    |USA    |NY   |
|Robert   |Williams|USA    |CA   |
|Maria    |Jones   |USA    |FL   |
+---------+--------+-------+-----+
```

## 1ï¸âƒ£ ×‘×—×™×¨×ª ×¢××•×“×” ×‘×•×“×“×ª ×•××¡×¤×¨ ×¢××•×“×•×ª ×-PySpark

× ×™×ª×Ÿ ×œ×‘×—×•×¨ ×¢××•×“×” ×‘×•×“×“×ª ××• ××¡×¤×¨ ×¢××•×“×•×ª ×©×œ ×”-DataFrame ×¢×œ ×™×“×™ ×”×¢×‘×¨×ª ×©××•×ª ×”×¢××•×“×•×ª ×©×¨×•×¦×™× ×œ×‘×—×•×¨ ×œ×¤×•× ×§×¦×™×” `select()`.

××›×™×•×•×Ÿ ×©-DataFrame ×”×•× immutable, ×–×” ×™×•×¦×¨ DataFrame ×—×“×© ×¢× ×”×¢××•×“×•×ª ×©× ×‘×—×¨×•. 

×¤×•× ×§×¦×™×” `show()` ××©××©×ª ×œ×”×¦×’×ª ×ª×•×›×Ÿ ×”-DataFrame.

×œ×”×œ×Ÿ ×”×“×¨×›×™× ×œ×‘×—×™×¨×ª ×¢××•×“×” ×‘×•×“×“×ª, ××¡×¤×¨ ××• ×›×œ ×”×¢××•×“×•×ª.

### ğŸ”¹ ×‘×—×™×¨×ª ×¢××•×“×•×ª ×‘×“×¨×›×™× ×©×•× ×•×ª

In [ ]:
# ×‘×—×™×¨×ª ×¢××•×“×•×ª ×‘×“×¨×›×™× ×©×•× ×•×ª
df.select("firstname", "lastname").show()
df.select(df.firstname, df.lastname).show()
df.select(df["firstname"], df["lastname"]).show()

### ğŸ”¹ ×©×™××•×© ×‘×¤×•× ×§×¦×™×” col()

× ×™×ª×Ÿ ×’× ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×” `col()` ×-`pyspark.sql.functions`:

In [ ]:
# ×©×™××•×© ×‘×¤×•× ×§×¦×™×” col()
from pyspark.sql.functions import col

df.select(col("firstname"), col("lastname")).show()

### ğŸ”¹ ×‘×—×™×¨×ª ×¢××•×“×•×ª ×¢× ×‘×™×˜×•×™ ×¨×’×•×œ×¨×™

× ×™×ª×Ÿ ×œ×‘×—×•×¨ ×¢××•×“×•×ª ×‘×××¦×¢×•×ª ×‘×™×˜×•×™ ×¨×’×•×œ×¨×™:

In [ ]:
# ×‘×—×™×¨×ª ×¢××•×“×•×ª ×¢× ×‘×™×˜×•×™ ×¨×’×•×œ×¨×™
df.select(df.colRegex("`^.*name$`")).show()

**×”×¡×‘×¨:**

- `^.*name$` - ×‘×•×—×¨ ×›×œ ×¢××•×“×” ×©××¡×ª×™×™××ª ×‘-"name"
- ×‘××§×¨×” ×©×œ× ×•, ×–×” ×™×‘×—×¨ ××ª `firstname` ×•-`lastname`

## 2ï¸âƒ£ ×‘×—×™×¨×ª ×›×œ ×”×¢××•×“×•×ª ××¨×©×™××”

×œ×¤×¢××™× ×™×™×ª×›×Ÿ ×©×ª×¦×˜×¨×š ×œ×‘×—×•×¨ ××ª ×›×œ ×¢××•×“×•×ª ×”-DataFrame ××¨×©×™××ª Python. 

×‘×“×•×’××” ×œ××˜×”, ×™×© ×œ× ×• ××ª ×›×œ ×”×¢××•×“×•×ª ×‘××•×‘×™×™×§×˜ ×”×¨×©×™××” `columns`.

In [ ]:
# ×‘×—×™×¨×ª ×›×œ ×”×¢××•×“×•×ª ××¨×©×™××”
df.select(*columns).show()

In [ ]:
# ×‘×—×™×¨×ª ×›×œ ×”×¢××•×“×•×ª - ×—×œ×•×¤×”
df.select([col for col in df.columns]).show()
df.select("*").show()

## 3ï¸âƒ£ ×‘×—×™×¨×ª ×¢××•×“×•×ª ×œ×¤×™ ××™× ×“×§×¡

×‘×××¦×¢×•×ª ×ª×›×•× ×•×ª ×¨×©×™××ª Python, × ×™×ª×Ÿ ×œ×‘×—×•×¨ ××ª ×”×¢××•×“×•×ª ×œ×¤×™ ××™× ×“×§×¡.

In [ ]:
# ×‘×•×—×¨ 3 ×¢××•×“×•×ª ×¨××©×•× ×•×ª ×•-3 ×©×•×¨×•×ª ×¢×œ×™×•× ×•×ª
df.select(df.columns[:3]).show(3)

In [ ]:
# ×‘×•×—×¨ ×¢××•×“×•×ª 2 ×¢×“ 4 ×•-3 ×©×•×¨×•×ª ×¢×œ×™×•× ×•×ª
df.select(df.columns[2:4]).show(3)

## 4ï¸âƒ£ ×‘×—×™×¨×ª ×¢××•×“×•×ª Nested Struct ×-PySpark

×× ×™×© ×œ×š ×¢××•×“×ª struct ××§×•× × ×ª (StructType) ×‘-PySpark DataFrame, ×¢×œ×™×š ×œ×”×©×ª××© ×‘-**explicit column qualifier** ×›×“×™ ×œ×‘×—×•×¨.

×× ××ª×” ×—×“×© ×‘-PySpark ×•×œ× ×œ××“×ª StructType ×¢×“×™×™×Ÿ, ×× ×™ ×××œ×™×¥ ×œ×“×œ×’ ×¢×œ ×”×—×œ×§ ×”×–×” ××• ×œ×œ××•×“ ×ª×—×™×œ×” **Understand PySpark StructType**.

### ğŸ“ ×™×¦×™×¨×ª DataFrame ×¢× Nested Structure

In [ ]:
# ×™×¦×™×¨×ª DataFrame ×¢× ×¢××•×“×•×ª ××§×•× × ×•×ª
data = [
    (("James", None, "Smith"), "OH", "M"),
    (("Anna", "Rose", ""), "NY", "F"),
    (("Julia", "", "Williams"), "OH", "F"),
    (("Maria", "Anne", "Jones"), "NY", "M"),
    (("Jen", "Mary", "Brown"), "", "M"),
    (("Mike", "Mary", "Williams"), "OH", "M")
]

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType

schema = StructType([
    StructField("name", StructType([
        StructField("firstname", StringType(), True),
        StructField("middlename", StringType(), True),
        StructField("lastname", StringType(), True)
    ])),
    StructField("state", StringType(), True),
    StructField("gender", StringType(), True)
])

df2 = spark.createDataFrame(data=data, schema=schema)
df2.printSchema()
df2.show(truncate=False)  # ×”×¦×’ ××ª ×›×œ ×”×¢××•×“×•×ª

**Schema ×¦×¤×•×™:**

```
root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)
```

×–×” ××™×™×¦×¨ ××ª ×”-schema ×”×‘×. ×× ×ª×©×™× ×œ×‘, ×”×¢××•×“×” `name` ×”×™× ××¡×•×’ struct, ×”××›×™×œ×” ××ª ×”×¢××•×“×•×ª firstname, middlename, ×•-lastname.

### ğŸ” ×‘×—×™×¨×ª ×¢××•×“×ª ×”-Struct

×›×“×™ ×œ×‘×—×•×¨ ××ª ×¢××•×“×ª ×”-struct, ×¤×©×•×˜ ×¦×™×™×Ÿ ××ª ×©× ×”×¢××•×“×” ×‘-`select()`:

In [ ]:
# ×‘×—×™×¨×ª ×¢××•×“×ª struct
df2.select("name").show(truncate=False)

**×ª×•×¦××”:**

×–×” ××—×–×™×¨ ××ª ×¢××•×“×ª ×”-struct `name` ×›××•×ª ×©×”×™×.

### ğŸ¯ ×‘×—×™×¨×ª ×¢××•×“×•×ª ×™×œ×“ (Child Columns)

×›×“×™ ×œ×‘×—×•×¨ ×¢××•×“×” ×¡×¤×¦×™×¤×™×ª ×××‘× ×” ××§×•× ×Ÿ, ×¢×œ×™×š ×œ×¦×™×™×Ÿ ×‘××¤×•×¨×© ××ª ×©× ×”×¢××•×“×ª ×”××§×•× × ×ª:

In [ ]:
# ×‘×—×™×¨×ª ×¢××•×“×•×ª ×™×œ×“
df2.select("name.firstname", "name.lastname").show(truncate=False)

**×ª×•×¦××”:**

×–×” ××—×–×™×¨ ××ª `firstname` ×•-`lastname` ×›×©×ª×™ ×¢××•×“×•×ª × ×¤×¨×“×•×ª ××¢××•×“×ª ×”-name struct.

### ğŸ“¦ ×‘×—×™×¨×ª ×›×œ ×¢××•×“×•×ª ×”×™×œ×“ ××”-Struct

×›×“×™ ×œ×§×‘×œ ××ª ×›×œ ×”×¢××•×“×•×ª ××¢××•×“×ª ×”-struct, ×¦×™×™×Ÿ `name.*`:

In [ ]:
# ×‘×—×™×¨×ª ×›×œ ×¢××•×“×•×ª ×”×™×œ×“
df2.select("name.*").show(truncate=False)

**×ª×•×¦××”:**

```
+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|James    |null      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
|Maria    |Anne      |Jones   |
|Jen      |Mary      |Brown   |
|Mike     |Mary      |Williams|
+---------+----------+--------+
```

## 5ï¸âƒ£ ×“×•×’××” ××œ××” - ×§×•×“ ×©×œ×

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

data = [
    ("James", "Smith", "USA", "CA"),
    ("Michael", "Rose", "USA", "NY"),
    ("Robert", "Williams", "USA", "CA"),
    ("Maria", "Jones", "USA", "FL")
]

columns = ["firstname", "lastname", "country", "state"]
df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

print("=== ×‘×—×™×¨×ª ×¢××•×“×•×ª ×‘×•×“×“×•×ª ===")
df.select("firstname").show()

df.select("firstname", "lastname").show()

In [ ]:
print("=== ×©×™××•×© ×‘×©× DataFrame ===")
df.select(df.firstname, df.lastname).show()

print("=== ×©×™××•×© ×‘-col() ===")
from pyspark.sql.functions import col
df.select(col("firstname"), col("lastname")).show()

In [ ]:
print("=== ×“×•×’××” ×¢× Nested Struct ===")
data = [
    (("James", None, "Smith"), "OH", "M"),
    (("Anna", "Rose", ""), "NY", "F"),
    (("Julia", "", "Williams"), "OH", "F"),
    (("Maria", "Anne", "Jones"), "NY", "M"),
    (("Jen", "Mary", "Brown"), "", "M"),
    (("Mike", "Mary", "Williams"), "OH", "M")
]

from pyspark.sql.types import StructType, StructField, StringType

schema = StructType([
    StructField("name", StructType([
        StructField("firstname", StringType(), True),
        StructField("middlename", StringType(), True),
        StructField("lastname", StringType(), True)
    ])),
    StructField("state", StringType(), True),
    StructField("gender", StringType(), True)
])

df2 = spark.createDataFrame(data=data, schema=schema)
df2.printSchema()
df2.show(truncate=False)

df2.select("name").show(truncate=False)
df2.select("name.firstname", "name.lastname").show(truncate=False)
df2.select("name.*").show(truncate=False)

## ğŸ“Œ ×¡×™×›×•×

×‘××××¨ ×–×”, ×œ××“×ª ×©-`select()` ×”×™× ×¤×•× ×§×¦×™×™×ª ×˜×¨× ×¡×¤×•×¨××¦×™×” ×©×œ ×”-DataFrame ×•××©××©×ª ×œ×‘×—×™×¨×ª:
- ×¢××•×“×” ×‘×•×“×“×ª
- ××¡×¤×¨ ×¢××•×“×•×ª
- ×‘×—×™×¨×ª ×›×œ ×”×¢××•×“×•×ª ××¨×©×™××”
- ×‘×—×™×¨×” ×œ×¤×™ ××™× ×“×§×¡
- ×‘×—×™×¨×ª ×¢××•×“×•×ª struct ××§×•× × ×•×ª

### âœ… ×©×™×˜×•×ª ×¢×™×§×¨×™×•×ª:

| ×©×™×˜×” | ×“×•×’××” | ×©×™××•×© |
|------|-------|-------|
| **×©××•×ª ×¢××•×“×•×ª ×™×©×™×¨×•×ª** | `df.select("col1", "col2")` | ×”×¤×©×•×˜×” ×‘×™×•×ª×¨ |
| **col()** | `df.select(col("col1"))` | ×’××™×©×” ×™×•×ª×¨ |
| **DataFrame accessor** | `df.select(df.col1)` | × ×•×—×” ×œ×©×™××•×© |
| **Regex** | `df.colRegex("pattern")` | ×œ×‘×—×™×¨×ª ×“×™× ××™×ª |
| **×¨×©×™××”** | `df.select(*columns)` | ××¨×©×™××ª ×©××•×ª |
| **××™× ×“×§×¡** | `df.select(df.columns[:3])` | ×œ×¤×™ ××™×§×•× |
| **Nested** | `df.select("name.firstname")` | ××‘× ×™× ××§×•× × ×™× |

×œ××“×ª ×’× ××™×š ×œ×‘×—×•×¨ ××œ×× ×˜×™× ××§×•× × ×™× ××”-DataFrame.

**Happy Learning !!** ğŸ“

## ğŸ“š ××××¨×™× ×§×©×•×¨×™×

- **How to Replace Column Values in PySpark DataFrame**
- **How to Retrieve DataType & Column Names of PySpark DataFrame**
- **Pyspark Select Distinct Rows**
- **PySpark Select Top N Rows From Each Group**
- **PySpark Replace Empty Value With None/null on DataFrame**
- **PySpark Groupby on Multiple Columns**
- **PySpark alias() Column & DataFrame Examples**

## ğŸ·ï¸ ×ª×’×™×•×ª (Tags)

`SELECT()` `STRUCT` `STRUCTTYPE`

## ğŸ”— ××§×•×¨×•×ª ×•××™×“×¢ × ×•×¡×£

**××§×•×¨ ×”××“×¨×™×š:**
- SparkByExamples.com

**×ª×™×¢×•×“ ×¨×©××™:**
- [PySpark DataFrame.select() Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.select.html)

---

**ğŸ’» ×‘×”×¦×œ×—×” ×‘×œ×™××•×“ PySpark!**