<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>

 # ğŸ“š ××“×¨×™×š PySpark ××§×™×£ - ×¢×™×‘×•×“ × ×ª×•× ×™× ×‘-DataFrame

××—×‘×¨×ª ×–×• ×›×•×œ×œ×ª ××ª ×”× ×•×©××™× ×”×‘××™×:
1. âœï¸ **withColumn** - ×”×•×¡×¤×” ×•×©×™× ×•×™ ×¢××•×“×•×ª -  [withColumn](https://sparkbyexamples.com/pyspark/pyspark-withcolumn/)

2. ğŸ·ï¸ **withColumnRenamed** - ×©×™× ×•×™ ×©××•×ª ×¢××•×“×•×ª -  [withColumnRenamed](https://sparkbyexamples.com/pyspark/pyspark-rename-dataframe-column/)

3. ğŸ” **filter/where** - ×¡×™× ×•×Ÿ × ×ª×•× ×™× -  [filter/where](https://sparkbyexamples.com/pyspark/pyspark-where-filter/)

4. ğŸ—‘ï¸ **distinct** - ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª -  [distinct](https://sparkbyexamples.com/pyspark/pyspark-distinct-to-drop-duplicates/)

5. ğŸ“Š **orderBy/sort** - ××™×•×Ÿ × ×ª×•× ×™× -  [orderBy/sort](https://sparkbyexamples.com/pyspark/pyspark-orderby-and-sort-explained/)

6. ğŸ“ˆ **groupBy** - ×§×™×‘×•×¥ ×•×¦×‘×™×¨×” -  [groupBy](https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/)

## ğŸš€ ×”×’×“×¨×ª ×¡×‘×™×‘×ª ×”×¢×‘×•×“×”

×¨××©×™×ª, × ×™×™×‘× ××ª ×”×¡×¤×¨×™×•×ª ×”× ×“×¨×©×•×ª ×•× ×™×¦×•×¨ Spark Session:

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, expr, upper, lower, concat_ws
from pyspark.sql.functions import sum, avg, max, min, count, mean
from pyspark.sql.functions import array_contains
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType

# ×™×¦×™×¨×ª Spark Session
spark = SparkSession.builder \
    .appName("PySpark Tutorial") \
    .getOrCreate()

## ğŸ“‹ ×™×¦×™×¨×ª × ×ª×•× ×™ ×“×•×’××”

× ×™×¦×•×¨ DataFrame ×œ×“×•×’××” ×¢× ××™×“×¢ ×¢×œ ×¢×•×‘×“×™×:

In [ ]:
# × ×ª×•× ×™× ×¨××©×•× ×™×™×
data = [
    ('James', 'Sales', 'NY', 90000, 34, 10000),
    ('Michael', 'Sales', 'NY', 86000, 56, 20000),
    ('Robert', 'Sales', 'CA', 81000, 30, 23000),
    ('Maria', 'Finance', 'CA', 90000, 24, 23000),
    ('Raman', 'Finance', 'CA', 99000, 40, 24000),
    ('Scott', 'Finance', 'NY', 83000, 36, 19000),
    ('Jen', 'Finance', 'NY', 79000, 53, 15000),
    ('Jeff', 'Marketing', 'CA', 80000, 25, 18000),
    ('Kumar', 'Marketing', 'NY', 91000, 50, 21000)
]

# ×”×’×“×¨×ª ×¢××•×“×•×ª
columns = ['employee_name', 'department', 'state', 'salary', 'age', 'bonus']

# ×™×¦×™×¨×ª DataFrame
df = spark.createDataFrame(data=data, schema=columns)
df.printSchema()
df.show(truncate=False)

---

# 1ï¸âƒ£ withColumn() - ×”×•×¡×¤×” ×•×©×™× ×•×™ ×¢××•×“×•×ª

## ğŸ“– ××” ×–×” withColumn?

`withColumn()` ×”×™× ×¤×•× ×§×¦×™×” ××¨×›×–×™×ª ×‘-PySpark ×”××©××©×ª ×œ:
- ğŸ†• ×”×•×¡×¤×ª ×¢××•×“×” ×—×“×©×”
- â™»ï¸ ×¢×“×›×•×Ÿ ×¢××•×“×” ×§×™×™××ª
- ğŸ”„ ×©×™× ×•×™ ×˜×™×¤×•×¡ × ×ª×•× ×™×
- ğŸ§® ×™×¦×™×¨×ª ×¢××•×“×•×ª ××—×•×©×‘×•×ª

**×—×©×•×‘ ×œ×“×¢×ª:** ×”×¤×•× ×§×¦×™×” ××—×–×™×¨×” DataFrame ×—×“×© ×•×œ× ××©× ×” ××ª ×”××§×•×¨×™!

### ğŸ“ Syntax - ×ª×—×‘×™×¨

```python
df.withColumn(colName, col)
```

- **colName**: ×©× ×”×¢××•×“×” (×—×“×©×” ××• ×§×™×™××ª)
- **col**: ×‘×™×˜×•×™ Column ××• ×¢×¨×š ×œ×”×•×¡×¤×”

## ğŸ”¢ ×“×•×’××” 1: ×©×™× ×•×™ ×˜×™×¤×•×¡ × ×ª×•× ×™×

× ×©× ×” ××ª ×¢××•×“×ª `salary` ×-Integer ×œ-String:

In [ ]:
# ×”××¨×ª salary ×œ-String
df2 = df.withColumn("salary", col("salary").cast("String"))
df2.printSchema()

## â• ×“×•×’××” 2: ×¢×“×›×•×Ÿ ×¢×¨×›×™ ×¢××•×“×”

× ×›×¤×™×œ ××ª ×”××©×›×•×¨×ª ×‘-100:

In [ ]:
df3 = df.withColumn("salary", col("salary") * 100)
df3.show()

## ğŸ†• ×“×•×’××” 3: ×™×¦×™×¨×ª ×¢××•×“×” ×—×“×©×” ××¢××•×“×” ×§×™×™××ª

× ×™×¦×•×¨ ×¢××•×“×” ×—×“×©×” ×‘×©× `CopiedColumn`:

In [ ]:
df4 = df.withColumn("CopiedColumn", col("salary") * -1)
df4.show()

## ğŸ”¤ ×“×•×’××” 4: ×©×™××•×© ×‘×¤×•× ×§×¦×™×•×ª ××•×‘× ×•×ª

× ×©×ª××© ×‘×¤×•× ×§×¦×™×•×ª `upper()` ×•-`lower()`:

In [ ]:
# ×”××¨×” ×œ××•×ª×™×•×ª ×’×“×•×œ×•×ª
df5 = df.withColumn("department_upper", upper(col("department")))
df5.show()

## ğŸ”— ×“×•×’××” 5: ×”×•×¡×¤×ª ××¡×¤×¨ ×¢××•×“×•×ª

××¤×©×¨ ×œ×©×¨×©×¨ ××¡×¤×¨ ×¤×¢×•×œ×•×ª `withColumn()`:

In [ ]:
df6 = df.withColumn("Country", lit("USA")) \
        .withColumn("anotherColumn", lit("anotherValue"))
df6.show()

## ğŸ§® ×“×•×’××” 6: ×™×¦×™×¨×ª ×¢××•×“×” ××—×•×©×‘×ª

× ×—×©×‘ ×¡×š ×”×›× ×¡×” (××©×›×•×¨×ª + ×‘×•× ×•×¡):

In [ ]:
df7 = df.withColumn("total_income", col("salary") + col("bonus"))
df7.select("employee_name", "salary", "bonus", "total_income").show()

---

# 2ï¸âƒ£ withColumnRenamed() - ×©×™× ×•×™ ×©××•×ª ×¢××•×“×•×ª

## ğŸ·ï¸ ×¡×§×™×¨×” ×›×œ×œ×™×ª

`withColumnRenamed()` ××©××©×ª ×œ×©×™× ×•×™ ×©× ×¢××•×“×” ×§×™×™××ª ×‘×¦×•×¨×” ×¤×©×•×˜×” ×•×‘×¨×•×¨×”.

### ğŸ“ Syntax - ×ª×—×‘×™×¨

```python
df.withColumnRenamed(existingName, newName)
```

- **existingName**: ×©× ×”×¢××•×“×” ×”× ×•×›×—×™
- **newName**: ×”×©× ×”×—×“×©

## ğŸ”„ ×“×•×’××” 1: ×©×™× ×•×™ ×©× ×¢××•×“×” ××—×ª

In [ ]:
df_renamed = df.withColumnRenamed("employee_name", "name")
df_renamed.printSchema()

## ğŸ”— ×“×•×’××” 2: ×©×™× ×•×™ ×©××•×ª ××¡×¤×¨ ×¢××•×“×•×ª

××¤×©×¨ ×œ×©×¨×©×¨ ××¡×¤×¨ ×©×™× ×•×™×™×:

In [ ]:
df_renamed2 = df.withColumnRenamed("employee_name", "name") \
                .withColumnRenamed("salary", "salary_amount")
df_renamed2.printSchema()

## ğŸ”„ ×“×•×’××” 3: ×©×™××•×© ×‘-toDF() ×œ×©×™× ×•×™ ×›×œ ×”×©××•×ª

In [ ]:
# ×©×™× ×•×™ ×©××•×ª ×›×œ ×”×¢××•×“×•×ª ×‘×‘×ª ××—×ª
newColumns = ['emp_name', 'dept', 'location', 'sal', 'emp_age', 'emp_bonus']
df_renamed_all = df.toDF(*newColumns)
df_renamed_all.printSchema()

---

# 3ï¸âƒ£ filter() / where() - ×¡×™× ×•×Ÿ × ×ª×•× ×™×

## ğŸ” ×¡×§×™×¨×” ×›×œ×œ×™×ª

×”×¤×•× ×§×¦×™×•×ª `filter()` ×•-`where()` ××©××©×•×ª ×œ×¡×™× ×•×Ÿ ×©×•×¨×•×ª ×‘-DataFrame ×¢×œ ×¤×™ ×ª× ××™× ××¡×•×™××™×.

**×©×ª×™ ×”×¤×•× ×§×¦×™×•×ª ×–×”×•×ª ×œ×—×œ×•×˜×™×Ÿ** - ×”×©×ª××© ×‘×–×• ×©× ×•×—×” ×œ×š ×™×•×ª×¨!

### ğŸ“ Syntax - ×ª×—×‘×™×¨

```python
df.filter(condition)
df.where(condition)
```

## ×™×¦×™×¨×ª DataFrame ×œ×“×•×’×××•×ª ×”×¡×™× ×•×Ÿ

× ×™×¦×•×¨ DataFrame ×¢× ××‘× ×” ××•×¨×›×‘ ×™×•×ª×¨:

In [ ]:
# ×”×’×“×¨×ª Schema
schema = StructType([
    StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
        StructField('lastname', StringType(), True)
    ])),
    StructField('languages', ArrayType(StringType()), True),
    StructField('state', StringType(), True),
    StructField('gender', StringType(), True)
])

# × ×ª×•× ×™×
data = [
    (('James', '', 'Smith'), ['Java', 'Scala', 'C++'], 'OH', 'M'),
    (('Anna', 'Rose', ''), ['Spark', 'Java', 'C++'], 'NY', 'F'),
    (('Julia', '', 'Williams'), ['CSharp', 'VB'], 'OH', 'F'),
    (('Maria', 'Anne', 'Jones'), ['CSharp', 'VB'], 'NY', 'M'),
    (('Jen', 'Mary', 'Brown'), ['CSharp', 'VB'], 'NY', 'M'),
    (('Mike', 'Mary', 'Williams'), ['Python', 'VB'], 'OH', 'M')
]

df_filter = spark.createDataFrame(data=data, schema=schema)
df_filter.printSchema()
df_filter.show(truncate=False)

## ğŸŸ° ×“×•×’××” 1: ×¡×™× ×•×Ÿ ×¢× ×ª× ××™ ×©×•×•×™×•×Ÿ

× ×¡× ×Ÿ ×¨×§ ×¢×•×‘×“×™× ×××“×™× ×ª OH:

In [ ]:
# ×©×™××•×© ×‘-filter
df_filter.filter(df_filter.state == "OH").show(truncate=False)

## â‰  ×“×•×’××” 2: ×¡×™× ×•×Ÿ ×¢× ×ª× ××™ ×©×•× ×” ×-

× ×¡× ×Ÿ ××ª ×›×œ ××™ ×©××™× × ×××“×™× ×ª OH:

In [ ]:
# ××•×¤×Ÿ 1: ×©×™××•×© ×‘-!=
df_filter.filter(df_filter.state != "OH").show(truncate=False)

# ××•×¤×Ÿ 2: ×©×™××•×© ×‘-~
df_filter.filter(~(df_filter.state == "OH")).show(truncate=False)

## ğŸ”¢ ×“×•×’××” 3: ×©×™××•×© ×‘-col()

××¤×©×¨ ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×” `col()` ×œ×”×ª×™×™×—×¡×•×ª ×œ×¢××•×“×•×ª:

In [ ]:
from pyspark.sql.functions import col

df_filter.filter(col("state") == "OH").show(truncate=False)

## ğŸ“œ ×“×•×’××” 4: ×©×™××•×© ×‘×‘×™×˜×•×™ SQL

××¤×©×¨ ×’× ×œ×”×©×ª××© ×‘×ª×—×‘×™×¨ SQL:

In [ ]:
# ×¡×™× ×•×Ÿ ×œ×¤×™ ××™×Ÿ
df_filter.filter("gender == 'M'").show()

# ××™ ×©×•×•×™×•×Ÿ
df_filter.filter("gender != 'M'").show()
df_filter.filter("gender <> 'M'").show()

## ğŸ”€ ×“×•×’××” 5: ××¡×¤×¨ ×ª× ××™× (AND)

×¡×™× ×•×Ÿ ×œ×¤×™ ××¡×¤×¨ ×ª× ××™× ×¢× ××•×¤×¨×˜×•×¨ AND (`&`):

In [ ]:
# ×ª× ××™× ×¢× &
df_filter.filter((df_filter.state == "OH") & (df_filter.gender == "M")).show(truncate=False)

## ğŸ” ×“×•×’××” 6: ×ª× ××™ OR

×œ×”×©×ª××© ×‘××•×¤×¨×˜×•×¨ OR (`|`):

In [ ]:
df_filter.filter((df_filter.state == "OH") | (df_filter.gender == "M")).show(truncate=False)

## ğŸ“‹ ×“×•×’××” 7: ×¡×™× ×•×Ÿ ×œ×¤×™ ×¨×©×™××ª ×¢×¨×›×™× (isin)

×‘×“×™×§×” ×× ×¢×¨×š × ××¦× ×‘×¨×©×™××”:

In [ ]:
# ×¡×™× ×•×Ÿ ××“×™× ×•×ª OH, CA, DE
states_list = ['OH', 'CA', 'DE']
df_filter.filter(df_filter.state.isin(states_list)).show()

# ×©×œ×™×œ×” - NOT IN
df_filter.filter(~df_filter.state.isin(states_list)).show()

## ğŸ”¤ ×“×•×’××” 8: ×¡×™× ×•×Ÿ ×¢× startsWith, endsWith, contains

In [ ]:
# ×©××•×ª ×©××ª×—×™×œ×™× ×‘-M
df_filter.filter(df_filter['name.firstname'].startswith("M")).show()

# ×©××•×ª ×©××¡×ª×™×™××™× ×‘-s
df_filter.filter(df_filter['name.lastname'].endswith("s")).show()

# ××›×™×œ ××ª ×”××•×ª 'o'
df_filter.filter(df_filter['name.firstname'].contains("o")).show()

## ğŸ¨ ×“×•×’××” 9: ×¡×™× ×•×Ÿ ×¢× Regular Expression (like, rlike)

In [ ]:
# ×©××•×ª ×©××›×™×œ×™× 'Rose'
df_filter.filter(df_filter['name.firstname'].like("%rose%")).show()

# rlike ×¢× regex
df_filter.filter(df_filter['name.firstname'].rlike("(?i)^*rose$")).show()

## ğŸ“š ×“×•×’××” 10: ×¡×™× ×•×Ÿ ×¢××•×“×ª Array

×©×™××•×© ×‘-`array_contains()` ×œ×‘×“×™×§×ª ×§×™×•× ×¢×¨×š ×‘××¢×¨×š:

In [ ]:
from pyspark.sql.functions import array_contains

df_filter.filter(array_contains(df_filter.languages, "Java")).show(truncate=False)

## ğŸŒ³ ×“×•×’××” 11: ×¡×™× ×•×Ÿ ×¢××•×“×•×ª ××§×•× × ×•×ª (Nested)

In [ ]:
df_filter.filter(df_filter['name.lastname'] == "Williams").show(truncate=False)

---

# 4ï¸âƒ£ distinct() - ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª

## ğŸ—‘ï¸ ×¡×§×™×¨×” ×›×œ×œ×™×ª

`distinct()` ××©××©×ª ×œ×”×¡×¨×ª ×©×•×¨×•×ª ×›×¤×•×œ×•×ª ×-DataFrame.

**×—×œ×•×¤×”:** `dropDuplicates()` - ×××¤×©×¨×ª ×’××™×©×•×ª ×¨×‘×” ×™×•×ª×¨

## ×™×¦×™×¨×ª DataFrame ×¢× ×›×¤×™×œ×•×™×•×ª

In [ ]:
# × ×ª×•× ×™× ×¢× ×›×¤×™×œ×•×™×•×ª
data_dup = [
    ('James', 'Sales', 3000),
    ('Michael', 'Sales', 4600),
    ('Robert', 'Sales', 4100),
    ('Maria', 'Finance', 3000),
    ('James', 'Sales', 3000),
    ('Scott', 'Finance', 3300),
    ('Jen', 'Finance', 3900),
    ('Jeff', 'Marketing', 3000),
    ('Kumar', 'Marketing', 2000),
    ('Saif', 'Sales', 4100)
]

columns = ['employee_name', 'department', 'salary']
df_dup = spark.createDataFrame(data=data_dup, schema=columns)
df_dup.show()

## ğŸ§¹ ×“×•×’××” 1: ×”×¡×¨×ª ×©×•×¨×•×ª ×›×¤×•×œ×•×ª (×›×œ ×”×¢××•×“×•×ª)

In [ ]:
distinctDF = df_dup.distinct()
print(f"Distinct count: {distinctDF.count()}")
distinctDF.show()

## ğŸ¯ ×“×•×’××” 2: ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª ×‘×¢××•×“×•×ª × ×‘×—×¨×•×ª

×©×™××•×© ×‘-`dropDuplicates()` ×¢× ×©××•×ª ×¢××•×“×•×ª:

In [ ]:
# ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª ×œ×¤×™ department ×•-salary
dropDisDF = df_dup.dropDuplicates(['department', 'salary'])
print(f"Distinct count of department & salary: {dropDisDF.count()}")
dropDisDF.show()

---

# 5ï¸âƒ£ orderBy() / sort() - ××™×•×Ÿ × ×ª×•× ×™×

## ğŸ“Š ×¡×§×™×¨×” ×›×œ×œ×™×ª

×”×¤×•× ×§×¦×™×•×ª `orderBy()` ×•-`sort()` ××©××©×•×ª ×œ××™×•×Ÿ ×©×•×¨×•×ª ×‘-DataFrame.

**×©×ª×™ ×”×¤×•× ×§×¦×™×•×ª ×–×”×•×ª!**

### ğŸ“ Syntax - ×ª×—×‘×™×¨

```python
df.sort(*cols, **kwargs)
df.orderBy(*cols, **kwargs)
```

## â¬†ï¸ ×“×•×’××” 1: ××™×•×Ÿ ×‘×¡×“×¨ ×¢×•×œ×” (ASC)

××™×•×Ÿ ×œ×¤×™ department:

In [ ]:
# ×©×œ×•×© ×“×¨×›×™× ×–×”×•×ª:
df.sort("department", "state").show(truncate=False)
df.sort(col("department"), col("state")).show(truncate=False)
df.orderBy("department", "state").show(truncate=False)

## â¬‡ï¸ ×“×•×’××” 2: ××™×•×Ÿ ×‘×¡×“×¨ ×™×•×¨×“ (DESC)

In [ ]:
from pyspark.sql.functions import asc, desc

df.sort(df.department.asc(), df.state.desc()).show(truncate=False)
df.sort(col("department").asc(), col("state").desc()).show(truncate=False)
df.orderBy(col("department").asc(), col("state").desc()).show(truncate=False)

## ğŸ’¾ ×“×•×’××” 3: ××™×•×Ÿ ×¢× SQL

×©×™××•×© ×‘-Spark SQL:

In [ ]:
df.createOrReplaceTempView("EMP")
spark.sql("SELECT employee_name, department, state, salary, age, bonus FROM EMP ORDER BY department ASC").show(truncate=False)

---

# 6ï¸âƒ£ groupBy() - ×§×™×‘×•×¥ ×•×¦×‘×™×¨×”

## ğŸ“ˆ ×¡×§×™×¨×” ×›×œ×œ×™×ª

`groupBy()` ×”×™× ×¤×•× ×§×¦×™×” ××¨×›×–×™×ª ×œ×‘×™×¦×•×¢ ×¤×¢×•×œ×•×ª ×¦×‘×™×¨×” (aggregation) ×¢×œ × ×ª×•× ×™×.

×“×•××” ×œ-`GROUP BY` ×‘-SQL!

### ğŸ“ Syntax - ×ª×—×‘×™×¨

```python
df.groupBy(*cols)
```

## ğŸ“Š ×¤×•× ×§×¦×™×•×ª ×¦×‘×™×¨×” × ×¤×•×¦×•×ª

| ×¤×•× ×§×¦×™×” | ×ª×™××•×¨ |
|---------|-------|
| `count()` | ×¡×¤×™×¨×ª ×©×•×¨×•×ª |
| `sum()` | ×¡×›×•× |
| `avg()` / `mean()` | ×××•×¦×¢ |
| `min()` | ××™× ×™××•× |
| `max()` | ××§×¡×™××•× |
| `agg()` | ××¡×¤×¨ ×¦×‘×™×¨×•×ª ×‘×•-×–×× ×™×ª |

## â• ×“×•×’××” 1: ×¡×›×•× ×œ×¤×™ ×¢××•×“×”

×—×™×©×•×‘ ×¡×›×•× ××©×›×•×¨×•×ª ×œ×¤×™ department:

In [ ]:
df.groupBy("department").sum("salary").show(truncate=False)

## ğŸ”¢ ×“×•×’××” 2: ×¡×¤×™×¨×ª ×¢×•×‘×“×™× ×œ×¤×™ ××—×œ×§×”

In [ ]:
df.groupBy("department").count().show()

## ğŸ“‰ ×“×•×’××” 3: ××™× ×™××•× ××©×›×•×¨×ª

In [ ]:
df.groupBy("department").min("salary").show()

## ğŸ“ˆ ×“×•×’××” 4: ××§×¡×™××•× ××©×›×•×¨×ª

In [ ]:
df.groupBy("department").max("salary").show()

## ğŸ“Š ×“×•×’××” 5: ×××•×¦×¢

In [ ]:
df.groupBy("department").avg("salary").show()
df.groupBy("department").mean("salary").show()

## ğŸ”— ×“×•×’××” 6: ×§×™×‘×•×¥ ×œ×¤×™ ××¡×¤×¨ ×¢××•×“×•×ª

In [ ]:
df.groupBy("department", "state") \
  .sum("salary", "bonus") \
  .show(truncate=False)

## ğŸ¯ ×“×•×’××” 7: ×©×™××•×© ×‘-agg() ×œ××¡×¤×¨ ×¦×‘×™×¨×•×ª

`agg()` ×××¤×©×¨×ª ×‘×™×¦×•×¢ ××¡×¤×¨ ×¤×¢×•×œ×•×ª ×¦×‘×™×¨×” ×‘×•-×–×× ×™×ª:

In [ ]:
df.groupBy("department") \
  .agg(
      sum("salary").alias("sum_salary"),
      avg("salary").alias("avg_salary"),
      sum("bonus").alias("sum_bonus"),
      max("bonus").alias("max_bonus")
  ) \
  .show(truncate=False)

## ğŸ” ×“×•×’××” 8: ×¡×™× ×•×Ÿ ××—×¨×™ ×§×™×‘×•×¥ (HAVING)

×©×™××•×© ×‘-`where()` ××—×¨×™ `groupBy()` ×“×•××” ×œ-HAVING ×‘-SQL:

In [ ]:
df.groupBy("department") \
  .agg(
      sum("salary").alias("sum_salary"),
      avg("salary").alias("avg_salary"),
      sum("bonus").alias("sum_bonus"),
      max("bonus").alias("max_bonus")
  ) \
  .where(col("sum_bonus") >= 50000) \
  .show(truncate=False)

## ğŸ’¾ ×“×•×’××” 9: ×©×™××•×© ×‘-SQL

×©×™××•×© ×‘-Spark SQL ×¢× GROUP BY:

In [ ]:
df.createOrReplaceTempView("employees")

sql_string = """
SELECT 
    department,
    SUM(salary) AS sum_salary,
    AVG(salary) AS avg_salary,
    SUM(bonus) AS sum_bonus,
    MAX(bonus) AS max_bonus
FROM employees
GROUP BY department
HAVING SUM(bonus) >= 50000
"""

df2 = spark.sql(sql_string)
df2.show()

---

## ğŸ“ ×¡×™×›×•×

×‘××“×¨×™×š ×–×” ×œ××“× ×•:

1. âœï¸ **withColumn()** - ××™×š ×œ×”×•×¡×™×£, ×œ×©× ×•×ª ×•×œ×¢×“×›×Ÿ ×¢××•×“×•×ª
2. ğŸ·ï¸ **withColumnRenamed()** - ×©×™× ×•×™ ×©××•×ª ×¢××•×“×•×ª ×‘×¦×•×¨×” ×¤×©×•×˜×”
3. ğŸ” **filter()/where()** - ×¡×™× ×•×Ÿ × ×ª×•× ×™× ×¢× ×ª× ××™× ××’×•×•× ×™×
4. ğŸ—‘ï¸ **distinct()** - ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª
5. ğŸ“Š **orderBy()/sort()** - ××™×•×Ÿ × ×ª×•× ×™×
6. ğŸ“ˆ **groupBy()** - ×§×™×‘×•×¥ × ×ª×•× ×™× ×•×‘×™×¦×•×¢ ×¤×¢×•×œ×•×ª ×¦×‘×™×¨×”

### ğŸ“š ××©××‘×™× × ×•×¡×¤×™×

- [PySpark Official Documentation](https://spark.apache.org/docs/latest/api/python/)
- [SparkByExamples.com](https://sparkbyexamples.com/pyspark-tutorial/)

---

**Happy Learning! ğŸš€**

## ğŸ§¹ ×¡×’×™×¨×ª Spark Session

××œ ×ª×©×›×— ×œ×¡×’×•×¨ ××ª ×”-Spark Session ×‘×¡×•×£ ×”×¢×‘×•×“×”:

In [ ]:
# spark.stop()