<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# ğŸ“š ××“×¨×™×š ××§×™×£ ×œ-PySpark: ×¢×‘×•×“×” ×¢× DataFrames

××—×‘×¨×ª ×–×• ××›×¡×” ××ª ×”× ×•×©××™× ×”×‘××™×:
1. âœ… ×”×—×œ×ª ×¤×•× ×§×¦×™×•×ª ×¢×œ ×¢××•×“×•×ª (Apply Functions) -  [Apply Functions](https://sparkbyexamples.com/pyspark/pyspark-apply-function-to-column/)

2. ğŸ”„ ×©×™××•×© ×‘-Transform -  [Transform](https://sparkbyexamples.com/pyspark/pyspark-transform-function/)

3. ğŸ¯ ×™×¦×™×¨×ª UDF (User Defined Functions) -  [User Defined Functions](https://sparkbyexamples.com/pyspark/pyspark-udf-user-defined-function/)

4. ğŸ”— ××™×—×•×“ DataFrames (Union/UnionByName) -  [Union/Union](https://sparkbyexamples.com/pyspark/pyspark-union-and-unionall/)
,  [UnionByName](https://sparkbyexamples.com/pyspark/pyspark-unionbyname/)

5. ğŸ¤ ×—×™×‘×•×¨ DataFrames (Joins) -  [Joins](https://sparkbyexamples.com/pyspark/pyspark-join-explained-with-examples/)


---

## ğŸš€ ×”×›× ×” ×•×”×’×“×¨×ª SparkSession

× ×ª×—×™×œ ×¢× ×™×¦×™×¨×ª SparkSession ×•-DataFrame ×œ×“×•×’××”:

In [2]:
from pyspark.sql import SparkSession

# ×™×¦×™×¨×ª SparkSession
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

# ×™×¦×™×¨×ª DataFrame ×œ×“×•×’××”
columns = ["Seqno", "Name"]
data = [("1", "john jones"),
        ("2", "tracey smith"),
        ("3", "amy sanders")]

df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

+-----+------------+
|Seqno|Name        |
+-----+------------+
|1    |john jones  |
|2    |tracey smith|
|3    |amy sanders |
+-----+------------+

---

## 1ï¸âƒ£ ×”×—×œ×ª ×¤×•× ×§×¦×™×•×ª ×¢×œ ×¢××•×“×•×ª

### ğŸ”¹ ×©×™××•×© ×‘-withColumn()

`withColumn()` ×”×™× ×¤×•× ×§×¦×™×™×ª ×˜×¨× ×¡×¤×•×¨××¦×™×” ×”×××¤×©×¨×ª ×œ×”×—×™×œ ×¤×•× ×§×¦×™×” ××•×‘× ×™×ª ××• ××•×ª×××ª ××™×©×™×ª ×¢×œ ×¢××•×“×”.

In [3]:
from pyspark.sql.functions import upper

# ×”×—×œ×ª ×¤×•× ×§×¦×™×™×ª upper ×¢×œ ×¢××•×“×ª Name
df.withColumn("Upper_Name", upper(df.Name)).show()

+-----+------------+------------+
|Seqno|        Name|  Upper_Name|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

### ğŸ”¹ ×©×™××•×© ×‘-select()

`select()` ××©××© ×œ×‘×—×™×¨×ª ×¢××•×“×•×ª, ×•× ×™×ª×Ÿ ×’× ×œ×”×—×™×œ ×¢×œ×™×”×Ÿ ×¤×•× ×§×¦×™×•×ª:

In [4]:
# ×‘×—×™×¨×ª ×¢××•×“×•×ª ×•×”×—×œ×ª ×¤×•× ×§×¦×™×”
df.select("Seqno", "Name", upper(df.Name)).show()

+-----+------------+------------+
|Seqno|        Name| upper(Name)|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

### ğŸ”¹ ×©×™××•×© ×‘-SQL

× ×™×ª×Ÿ ×’× ×œ×”×©×ª××© ×‘-SQL ×›×“×™ ×œ×”×—×™×œ ×¤×•× ×§×¦×™×•×ª:

In [5]:
# ×™×¦×™×¨×ª temporary view
df.createOrReplaceTempView("TAB")

# ×©××™×œ×ª×ª SQL
spark.sql("select Seqno, Name, UPPER(Name) from TAB").show()

+-----+------------+------------+
|Seqno|        Name| upper(Name)|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

---

## 2ï¸âƒ£ ×™×¦×™×¨×ª UDF ××•×ª×× ××™×©×™×ª

### ğŸ“ ×©×œ×‘ 1: ×™×¦×™×¨×ª ×¤×•× ×§×¦×™×™×ª Python

In [6]:
# ×¤×•× ×§×¦×™×” ×©×××™×¨×” ××—×¨×•×–×ª ×œ××•×ª×™×•×ª ×’×“×•×œ×•×ª
def upperCase(str):
    return str.upper()

### ğŸ“ ×©×œ×‘ 2: ×”××¨×ª ×”×¤×•× ×§×¦×™×” ×œ-UDF

In [7]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

# ×™×¦×™×¨×ª UDF
upperCaseUDF = udf(lambda z: upperCase(z), StringType())

### ğŸ“ ×©×œ×‘ 3: ×©×™××•×© ×‘-UDF

#### ×¢× withColumn():

In [8]:
df.withColumn("Cureated_Name", upperCaseUDF(col("Name"))).show(truncate=False)

+-----+------------+-------------+
|Seqno|Name        |Cureated_Name|
+-----+------------+-------------+
|1    |john jones  |JOHN JONES   |
|2    |tracey smith|TRACEY SMITH |
|3    |amy sanders |AMY SANDERS  |
+-----+------------+-------------+

#### ×¢× select():

In [9]:
df.select(col("Seqno"), upperCaseUDF(col("Name")).alias("Name")).show(truncate=False)

+-----+------------+
|Seqno|Name        |
+-----+------------+
|1    |JOHN JONES  |
|2    |TRACEY SMITH|
|3    |AMY SANDERS |
+-----+------------+

#### ×¢× SQL:

In [10]:
# ×¨×™×©×•× UDF ×œ×©×™××•×© ×‘-SQL
spark.udf.register("upperCaseUDF", upperCaseUDF)

df.createOrReplaceTempView("TAB")
spark.sql("select Seqno, Name, upperCaseUDF(Name) from TAB").show()

+-----+------------+------------------+
|Seqno|        Name|upperCaseUDF(Name)|
+-----+------------+------------------+
|    1|  john jones|        JOHN JONES|
|    2|tracey smith|      TRACEY SMITH|
|    3| amy sanders|       AMY SANDERS|
+-----+------------+------------------+

### âš ï¸ ×× ×•×˜×¦×™×•×ª - ×“×¨×š ×§×¦×¨×” ×œ×™×¦×™×¨×ª UDF

In [11]:
@udf(returnType=StringType())
def upperCase(str):
    return str.upper()

df.withColumn("Cureated_Name", upperCase(col("Name"))).show(truncate=False)

+-----+------------+-------------+
|Seqno|Name        |Cureated_Name|
+-----+------------+-------------+
|1    |john jones  |JOHN JONES   |
|2    |tracey smith|TRACEY SMITH |
|3    |amy sanders |AMY SANDERS  |
+-----+------------+-------------+

### ğŸ” ×˜×™×¤×•×œ ×‘-Null Values

**×—×©×•×‘!** UDF ×¢×œ×•×œ ×œ×”×—×–×™×¨ ×©×’×™××•×ª ×× ×”×¢××•×“×” ××›×™×œ×” ×¢×¨×›×™ null. ×”× ×” ×“×¨×š ×œ×˜×¤×œ ×‘×›×š:

In [12]:
# DataFrame ×¢× null
columns = ["Seqno", "Name"]
data = [("1", "john jones"),
        ("2", "tracey smith"),
        ("3", "amy sanders"),
        ("4", None)]

df2 = spark.createDataFrame(data=data, schema=columns)
df2.show(truncate=False)
df2.createOrReplaceTempView("NAME_TABLE2")

# ×“×¨×š 1: ×‘×“×™×§×” ×¤× ×™××™×ª ×‘-UDF
# spark.udf.register("_nullsafeUDF", upperCase, StringType())
# spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2").show(truncate=False)

# ×“×¨×š 2: ×©×™××•×© ×‘-WHERE ×‘-SQL
# spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " +
#           "where Name is not null and _nullsafeUDF(Name) like '%John%'").show(truncate=False)

+-----+------------+
|Seqno|Name        |
+-----+------------+
|1    |john jones  |
|2    |tracey smith|
|3    |amy sanders |
|4    |NULL        |
+-----+------------+

### âš¡ ×‘×™×¦×•×¢×™× - UDF vs ×¤×•× ×§×¦×™×•×ª ××•×‘× ×•×ª

**×—×©×•×‘ ×œ×“×¢×ª:** UDF ×”×•× ×ª×”×œ×™×š ×™×§×¨ ×‘×™×•×ª×¨ ××‘×—×™× ×ª ×‘×™×¦×•×¢×™×! ×›×“××™ ×ª××™×“ ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×•×ª ×”××•×‘× ×•×ª ×©×œ PySpark SQL ×›×©××¤×©×¨.

×”-UDF ×”×•× "×§×•×¤×¡×” ×©×—×•×¨×”" ×¢×‘×•×¨ PySpark - ×”×•× ×œ× ×™×›×•×œ ×œ×‘×¦×¢ ××•×¤×˜×™××™×–×¦×™×•×ª. ×”×©×ª××© ×‘-UDF ×¨×§ ×›××©×¨ ××™×Ÿ ×¤×•× ×§×¦×™×” ××•×‘× ×™×ª ××ª××™××”.

---

## 3ï¸âƒ£ ×©×™××•×© ×‘-Pandas UDF ×¢× PySpark

× ×™×ª×Ÿ ×œ×”×©×ª××© ×‘-Pandas API ××¢×œ PySpark:

In [13]:
import pyspark.pandas as ps
import numpy as np
import pyspark.pandas as ps
ps.set_option("compute.fail_on_ansi_mode", False)

# ×™×¦×™×¨×ª DataFrame ×¢× Pandas ×¢×œ PySpark
psdf = ps.DataFrame(
    {'fee': [20000, 25000, 30000, 22000, np.nan],
     'Discount': [1000, 1500, 1500, 1200, 3000]}
)
print(psdf)

# ×”×’×“×¨×ª ×¤×•× ×§×¦×™×”
def add(data):
    return data[0] + data[1]

# ×©×™××•×© ×‘×¤×•× ×§×¦×™×”
addDF = psdf.apply(add, axis=1)
print(addDF)

/Users/mosheshulman/tutorials/PySpark/.venv/lib/python3.13/site-packages/pyspark/pandas/__init__.py:43: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(
/Users/mosheshulman/tutorials/PySpark/.venv/lib/python3.13/site-packages/pyspark/pandas/utils.py:1037: PandasAPIOnSparkAdviceWarning: The config 'spark.sql.ansi.enabled' is set to True. This can cause unexpected behavior from pandas API on Spark since pandas API on Spark follows the behavior of pandas, not SQL.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

       fee  Discount
0  20000.0      1000
1  25000.0      1500
2  30000.0      1500
3  22000.0      1200
4      NaN      3000
0    21000.0
1    26500.0
2    31500.0
3    23200.0
4        NaN
dtype: float64

/Users/mosheshulman/tutorials/PySpark/.venv/lib/python3.13/site-packages/pyspark/pandas/utils.py:1037: PandasAPIOnSparkAdviceWarning: If the type hints is not specified for `apply`, it is expensive to infer the data type internally.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)
/var/folders/kb/bm6sw7g57_5_708m47q7jqzm0000gn/T/ipykernel_14041/1333334986.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return data[0] + data[1]
/Users/mosheshulman/tutorials/PySpark/.venv/lib/python3.13/site-packages/pyspark/pandas/utils.py:1037: PandasAPIOnSparkAdviceWarning: The config 'spark.sql.ansi.enabled' is set to True. This can cause unexpected behavior from pandas API on Spark since pandas API on Spark follows the behavior of pandas, not SQL.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

---

## 4ï¸âƒ£ Transform Function

PySpark ××¡×¤×§ ×©× ×™ ×¡×•×’×™× ×©×œ `transform()`:
1. **DataFrame.transform()** - ×–××™×Ÿ ×-Spark 3.0
2. **sql.functions.transform()** - ×¢×‘×•×“×” ×¢× ×¢××•×“×•×ª ××¡×•×’ Array

### ğŸ”¹ DataFrame.transform()

××©××© ×œ×©×¨×©×•×¨ ×˜×¨× ×¡×¤×•×¨××¦×™×•×ª ××•×ª×××•×ª ××™×©×™×ª:

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# ×™×¦×™×¨×ª DataFrame
simpleData = (("Java", 4000, 5), 
              ("Python", 4600, 10),
              ("Scala", 4100, 15), 
              ("Scala", 4500, 15),
              ("PHP", 3000, 20))
              
columns = ["CourseName", "fee", "discount"]

df = spark.createDataFrame(data=simpleData, schema=columns)
df.printSchema()
df.show(truncate=False)

root
 |-- CourseName: string (nullable = true)
 |-- fee: long (nullable = true)
 |-- discount: long (nullable = true)

+----------+----+--------+
|CourseName|fee |discount|
+----------+----+--------+
|Java      |4000|5       |
|Python    |4600|10      |
|Scala     |4100|15      |
|Scala     |4500|15      |
|PHP       |3000|20      |
+----------+----+--------+

### ×™×¦×™×¨×ª ×¤×•× ×§×¦×™×•×ª ×˜×¨× ×¡×¤×•×¨××¦×™×” ××•×ª×××•×ª:

In [15]:
from pyspark.sql.functions import upper

# ×˜×¨× ×¡×¤×•×¨××¦×™×” 1: ×”××¨×ª ×©× ×§×•×¨×¡ ×œ××•×ª×™×•×ª ×’×“×•×œ×•×ª
def to_upper_str_columns(df):
    return df.withColumn("CourseName", upper(df.CourseName))

# ×˜×¨× ×¡×¤×•×¨××¦×™×” 2: ×”×¤×—×ª×ª ××—×•×– ×”× ×—×” ××”××—×™×¨
def reduce_price(df, reduceBy):
    return df.withColumn("new_fee", df.fee - reduceBy)

# ×˜×¨× ×¡×¤×•×¨××¦×™×” 3: ×—×™×©×•×‘ ××—×™×¨ ×œ××—×¨ ×”× ×—×”
def apply_discount(df):
    return df.withColumn("discounted_fee",  
                        df.new_fee - (df.new_fee * df.discount) / 100)

### ×©×¨×©×•×¨ ×”×˜×¨× ×¡×¤×•×¨××¦×™×•×ª:

In [ ]:
# ×©×™××•×© ×‘-transform() ×œ×©×¨×©×•×¨
df2 = df.transform(to_upper_str_columns) \
        .transform(reduce_price, 1000) \
        .transform(apply_discount)

df2.show()

### ğŸ”¹ sql.functions.transform()

××©××© ×œ×”×—×œ×ª ×˜×¨× ×¡×¤×•×¨××¦×™×•×ª ×¢×œ ×¢××•×“×•×ª ××¡×•×’ ArrayType:

In [ ]:
from pyspark.sql.functions import upper, transform
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# ×™×¦×™×¨×ª DataFrame ×¢× Array
data = [
    ("James", "Smith", ["Java", "Scala", "C++"]),
    ("Michael", "Rose", ["Spark", "Java", "C++"]),
    ("Robert", "Williams", ["CSharp", "VB"])
]

df = spark.createDataFrame(data=data, schema=["Name", "Languages1", "Languages2"])
df.printSchema()
df.show()

### ×”×—×œ×ª ×˜×¨× ×¡×¤×•×¨××¦×™×” ×¢×œ Array:

In [ ]:
# ×”××¨×ª ×›×œ ××™×‘×¨×™ ×”××¢×¨×š ×œ××•×ª×™×•×ª ×’×“×•×œ×•×ª
df.select(transform(col("Languages2"), lambda x: upper(x)).alias("languagesUP")).show()

---

## 5ï¸âƒ£ ××™×—×•×“ DataFrames - Union

### ğŸ”¹ union() - ××™×—×•×“ ×œ×¤×™ ××™×§×•×

`union()` ×××–×’ ×©× ×™ DataFrames **×œ×¤×™ ××™×§×•× ×”×¢××•×“×•×ª** (×œ× ×œ×¤×™ ×©×):

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# DataFrame ×¨××©×•×Ÿ
simpleData = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NY", 86000, 56, 20000),
    ("Robert", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000)
]

columns = ["employee_name", "department", "state", "salary", "age", "bonus"]
df = spark.createDataFrame(data=simpleData, schema=columns)
df.printSchema()
df.show(truncate=False)

# DataFrame ×©× ×™
simpleData2 = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Maria", "Finance", "CA", 90000, 24, 23000),
    ("Jen", "Finance", "NY", 79000, 53, 15000),
    ("Jeff", "Marketing", "CA", 80000, 25, 18000),
    ("Kumar", "Marketing", "NY", 91000, 50, 21000)
]

columns2 = ["employee_name", "department", "state", "salary", "age", "bonus"]
df2 = spark.createDataFrame(data=simpleData2, schema=columns2)
df2.printSchema()
df2.show(truncate=False)

### ×‘×™×¦×•×¢ union:

In [ ]:
# union ××©×œ×‘ ××ª ×›×œ ×”×©×•×¨×•×ª (×›×•×œ×œ ×›×¤×™×œ×•×™×•×ª)
unionDF = df.union(df2)
unionDF.show(truncate=False)

### ×”×¡×¨×ª ×›×¤×™×œ×•×™×•×ª:

In [ ]:
# distinct() ××¡×™×¨ ×©×•×¨×•×ª ×›×¤×•×œ×•×ª
disDF = df.union(df2).distinct()
disDF.show(truncate=False)

### ğŸ”¹ unionByName() - ××™×—×•×“ ×œ×¤×™ ×©× ×¢××•×“×”

`unionByName()` ×××–×’ DataFrames **×œ×¤×™ ×©× ×”×¢××•×“×•×ª**, ×œ× ×œ×¤×™ ×”××™×§×•×:

In [ ]:
# DataFrames ×¢× ×¢××•×“×•×ª ×‘××•×ª× ×©××•×ª ××š ×‘×¡×“×¨ ×©×•× ×”
df1 = spark.createDataFrame([[5, 2, 6]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[6, 7, 3]], ["col1", "col2", "col0"])

# unionByName ××¡×“×¨ ××ª ×”×¢××•×“×•×ª ×œ×¤×™ ×©×
df3 = df1.unionByName(df2)
df3.printSchema()
df3.show()

### ×˜×™×¤×•×œ ×‘××¡×¤×¨ ×©×•× ×” ×©×œ ×¢××•×“×•×ª:

In [ ]:
# DataFrames ×¢× ××¡×¤×¨ ×©×•× ×” ×©×œ ×¢××•×“×•×ª
df1 = spark.createDataFrame([[5, 2, 6]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[6, 7, 3]], ["col1", "col2", "col3"])

# allowMissingColumns=True ×××œ× null ×¢×‘×•×¨ ×¢××•×“×•×ª ×—×¡×¨×•×ª
df3 = df1.unionByName(df2, allowMissingColumns=True)
df3.printSchema()
df3.show()

---

## 6ï¸âƒ£ Joins - ×—×™×‘×•×¨ DataFrames

PySpark ×ª×•××š ×‘×›×œ ×¡×•×’×™ ×”-Joins ×”××•×›×¨×™× ×-SQL:
- **Inner Join** - ×¨×§ ×©×•×¨×•×ª ×ª×•×××•×ª
- **Left Outer Join** - ×›×œ ×”×©×•×¨×•×ª ××”×©×××œ + ×ª×•×××•×ª ××”×™××™×Ÿ
- **Right Outer Join** - ×›×œ ×”×©×•×¨×•×ª ××”×™××™×Ÿ + ×ª×•×××•×ª ××©×××œ
- **Full Outer Join** - ×›×œ ×”×©×•×¨×•×ª ××©× ×™ ×”×¦×“×“×™×
- **Left Semi Join** - ×¨×§ ×©×•×¨×•×ª ××”×©×××œ ×©×™×© ×œ×”×Ÿ ×”×ª×××”
- **Left Anti Join** - ×¨×§ ×©×•×¨×•×ª ××”×©×××œ ×©××™×Ÿ ×œ×”×Ÿ ×”×ª×××”
- **Self Join** - ×—×™×‘×•×¨ ×©×œ ×˜×‘×œ×” ×œ×¢×¦××”
- **Cross Join** - ××›×¤×œ×” ×§×¨×˜×–×™×ª

### ×”×›× ×ª DataFrames ×œ×“×•×’××”:

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# DataFrame ×¢×•×‘×“×™×
emp = [
    (1, "Smith", -1, "2018", "10", "M", 3000),
    (2, "Rose", 1, "2010", "20", "M", 4000),
    (3, "Williams", 1, "2010", "10", "M", 1000),
    (4, "Jones", 2, "2005", "10", "F", 2000),
    (5, "Brown", 2, "2010", "40", "", -1),
    (6, "Brown", 2, "2010", "50", "", -1)
]

empColumns = ["emp_id", "name", "superior_emp_id", "year_joined", 
              "emp_dept_id", "gender", "salary"]

empDF = spark.createDataFrame(data=emp, schema=empColumns)
empDF.printSchema()
empDF.show(truncate=False)

# DataFrame ××—×œ×§×•×ª
dept = [
    ("Finance", 10),
    ("Marketing", 20),
    ("Sales", 30),
    ("IT", 40)
]

deptColumns = ["dept_name", "dept_id"]
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

### ğŸ”¹ Inner Join

××—×–×™×¨ ×¨×§ ×©×•×¨×•×ª ×©×™×© ×œ×”×Ÿ ×”×ª×××” ×‘×©× ×™ ×”-DataFrames:

In [ ]:
# Inner Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "inner").show(truncate=False)

### ğŸ”¹ Left Outer Join

××—×–×™×¨ ××ª ×›×œ ×”×©×•×¨×•×ª ××”×©×××œ, ×•×©×•×¨×•×ª ×ª×•×××•×ª ××”×™××™×Ÿ (null ×× ××™×Ÿ ×”×ª×××”):

In [ ]:
# Left Outer Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left").show(truncate=False)

# × ×™×ª×Ÿ ×’× ×œ×”×©×ª××© ×‘-"leftouter"
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "leftouter").show(truncate=False)

### ğŸ”¹ Right Outer Join

××—×–×™×¨ ××ª ×›×œ ×”×©×•×¨×•×ª ××”×™××™×Ÿ, ×•×©×•×¨×•×ª ×ª×•×××•×ª ××”×©×××œ (null ×× ××™×Ÿ ×”×ª×××”):

In [ ]:
# Right Outer Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "right").show(truncate=False)

# × ×™×ª×Ÿ ×’× ×œ×”×©×ª××© ×‘-"rightouter"
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "rightouter").show(truncate=False)

### ğŸ”¹ Full Outer Join

××—×–×™×¨ ××ª ×›×œ ×”×©×•×¨×•×ª ××©× ×™ ×”-DataFrames (null ×‘××§×•××•×ª ×©××™×Ÿ ×”×ª×××”):

In [ ]:
# Full Outer Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "outer").show(truncate=False)

# × ×™×ª×Ÿ ×’× ×œ×”×©×ª××© ×‘-"full" ××• "fullouter"
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "full").show(truncate=False)
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "fullouter").show(truncate=False)

### ğŸ”¹ Left Semi Join

××—×–×™×¨ ×¨×§ ×©×•×¨×•×ª ××”×©×××œ ×©×™×© ×œ×”×Ÿ ×”×ª×××” ×‘×™××™×Ÿ (×œ×œ× ×¢××•×“×•×ª ××”×™××™×Ÿ):

In [ ]:
# Left Semi Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "leftsemi").show(truncate=False)

### ğŸ”¹ Left Anti Join

××—×–×™×¨ ×¨×§ ×©×•×¨×•×ª ××”×©×××œ ×©××™×Ÿ ×œ×”×Ÿ ×”×ª×××” ×‘×™××™×Ÿ:

In [ ]:
# Left Anti Join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "leftanti").show(truncate=False)

### ğŸ”¹ Self Join

×—×™×‘×•×¨ ×©×œ DataFrame ×œ×¢×¦××• (×©×™××•×©×™ ×œ××¦×•× ×§×©×¨×™× ×”×™×¨×¨×›×™×™×):

In [ ]:
# Self Join - ××¦×™××ª ×× ×”×œ ×©×œ ×›×œ ×¢×•×‘×“
empDF.alias("emp1").join(
    empDF.alias("emp2"),
    col("emp1.superior_emp_id") == col("emp2.emp_id"),
    "inner"
).select(
    col("emp1.emp_id"),
    col("emp1.name"),
    col("emp2.emp_id").alias("superior_emp_id"),
    col("emp2.name").alias("superior_emp_name")
).show(truncate=False)

### ğŸ”¹ ×©×™××•×© ×‘-SQL Expressions

In [ ]:
# ×™×¦×™×¨×ª temporary views
empDF.createOrReplaceTempView("EMP")
deptDF.createOrReplaceTempView("DEPT")

# ×©×™××•×© ×‘-SQL
joinDF = spark.sql(
    "select * from EMP e, DEPT d where e.emp_dept_id == d.dept_id"
).show(truncate=False)

# Inner Join ×¢× SQL
joinDF2 = spark.sql(
    "select * from EMP e INNER JOIN DEPT d ON e.emp_dept_id == d.dept_id"
).show(truncate=False)

---

## ğŸ“Š ×“×•×’××” ××§×™×¤×” - ×©×™×œ×•×‘ ×›×œ ×”× ×•×©××™×

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, upper, udf
from pyspark.sql.types import StringType

# ×™×¦×™×¨×ª Spark session
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

# ×™×¦×™×¨×ª DataFrames
columns = ["Seqno", "Name"]
data = [("1", "john jones"),
        ("2", "tracey smith"),
        ("3", "amy sanders")]

df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

# ×©×™××•×© ×‘×¤×•× ×§×¦×™×” ××•×‘× ×™×ª
df.withColumn("Upper_Name", upper(df.Name)).show()

# ×©×™××•×© ×‘-select
df.select("Seqno", "Name", upper(df.Name)).show()

# ×©×™××•×© ×‘-SQL
df.createOrReplaceTempView("TAB")
spark.sql("select Seqno, Name, UPPER(Name) from TAB").show()

# ×™×¦×™×¨×ª ×¤×•× ×§×¦×™×” ××•×ª×××ª
def upperCase(str):
    return str.upper()

# ×”××¨×” ×œ-UDF
upperCaseUDF = udf(lambda z: upperCase(z), StringType())

# ×©×™××•×© ×‘-UDF ×¢× withColumn
df.withColumn("Cureated_Name", upperCaseUDF(col("Name"))).show(truncate=False)

# ×©×™××•×© ×‘-UDF ×¢× select
df.select(col("Seqno"), upperCaseUDF(col("Name")).alias("Name")).show(truncate=False)

# ×¨×™×©×•× UDF ×•×©×™××•×© ×‘-SQL
spark.udf.register("upperCaseUDF", upperCaseUDF)
df.createOrReplaceTempView("TAB")
spark.sql("select Seqno, Name, upperCaseUDF(Name) from TAB").show()

---

## ğŸ“š ××©××‘×™× × ×•×¡×¤×™×

### ×§×™×©×•×¨×™× ×©×™××•×©×™×™×:
- [PySpark SQL Functions Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)
- [PySpark UDF Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.udf.html)
- [Spark By Examples - sparkbyexamples.com](https://sparkbyexamples.com/pyspark/)

### × ×•×©××™× ×§×©×•×¨×™×:
- PySpark Window Functions
- PySpark Aggregate Functions
- PySpark Date and Timestamp Functions
- PySpark Broadcasting
- PySpark Partitioning

---

## ğŸ’¡ ×˜×™×¤×™× ×—×©×•×‘×™×

1. **×‘×™×¦×•×¢×™×**: ×ª××™×“ ×”×¢×“×£ ×¤×•× ×§×¦×™×•×ª ××•×‘× ×•×ª ×¢×œ ×¤× ×™ UDF
2. **Null Handling**: ×ª××™×“ ×˜×¤×œ ×‘×¢×¨×›×™ null ×‘-UDF
3. **Transform**: ×”×©×ª××© ×‘-transform() ×œ×©×¨×©×•×¨ ×¤×¢×•×œ×•×ª ×‘×¦×•×¨×” ×§×¨×™××”
4. **Join Type**: ×‘×—×¨ ××ª ×¡×•×’ ×”-Join ×”××ª××™× ×œ×¦×¨×›×™× ×©×œ×š
5. **unionByName**: ×”×©×ª××© ×‘-unionByName() ×›×©×™×© ×œ×š ×¢××•×“×•×ª ×‘××•×ª× ×©××™× ××š ×‘×¡×“×¨ ×©×•× ×”

---

**×”×¢×¨×”**: ××—×‘×¨×ª ×–×• × ×•×¦×¨×” ×¢×œ ×‘×¡×™×¡ ×”××“×¨×™×›×™× ×-SparkByExamples.com