<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# ğŸ“˜ PySpark - expr() - ×‘×™×˜×•×™×™× ×“××•×™×™ SQL
[PySpark SQL expr() (Expression) Function](https://sparkbyexamples.com/pyspark/pyspark-sql-expr-expression-function/)
## ×ª×•×›×Ÿ ×¢× ×™×™× ×™×
1. [×”×§×“××”](#introduction)
2. [×ª×—×‘×™×¨ expr()](#syntax)
3. [×©×¨×©×•×¨ ×¢××•×“×•×ª ×¢× || (concat)](#concat)
4. [CASE WHEN ×¢× expr()](#case-when)
5. [×©×™××•×© ×‘×¢×¨×š ×§×™×™× ××¢××•×“×”](#column-value)
6. [××ª×Ÿ ×›×™× ×•×™ (alias) ×œ×¢××•×“×”](#alias)
7. [×”××¨×ª ×˜×™×¤×•×¡×™× (cast)](#cast)
8. [×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ](#arithmetic)
9. [×¡×™× ×•×Ÿ × ×ª×•× ×™× (filter)](#filter)
10. [×“×•×’××” ××œ××”](#complete-example)
11. [××§×•×¨×•×ª](#references)

## ğŸ¯ ×”×§×“××” <a id='introduction'></a>

**PySpark expr()** ×”×™× ×¤×•× ×§×¦×™×™×ª SQL ×”×××¤×©×¨×ª ×œ×”×¨×™×¥ ×‘×™×˜×•×™×™× ×“××•×™×™ SQL ×•×œ×”×©×ª××© ×‘×¢×¨×š ×§×™×™× ××¢××•×“×ª DataFrame ×›××¨×’×•×× ×˜ ×œ×‘×™×˜×•×™.

×¨×•×‘ ×”×¤×•× ×§×¦×™×•×ª ×”× ×¤×•×¦×•×ª ×‘-SQL ×”×Ÿ ×—×œ×§ ××”××—×œ×§×” `pyspark.sql.Column` ××• ××”-API ×©×œ `pyspark.sql.functions`. ×‘× ×•×¡×£ ×œ××œ×•, PySpark ×ª×•××›×ª ×’× ×‘×¤×•× ×§×¦×™×•×ª SQL ×¨×‘×•×ª × ×•×¡×¤×•×ª, ×•×œ×›×Ÿ ×›×“×™ ×œ×”×©×ª××© ×‘×”×Ÿ ×¦×¨×™×š ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×” `expr()`.

### ×©× ×™ ××§×¨×™ ×©×™××•×© ×¢×™×§×¨×™×™×:
1. **×©×™××•×© ×‘×¤×•× ×§×¦×™×•×ª ×©××™× ×Ÿ ×§×™×™××•×ª ×‘-`PySpark Column`** (×œ××©×œ: `CASE WHEN`, `regexp_count()`)
2. **×”×¨×—×‘×ª ×”×¤×•× ×§×¦×™×•× ×œ×™×•×ª ×©×œ PySpark SQL** ×¢×œ ×™×“×™ ××¤×©×¨×•×ª ×œ×”×©×ª××© ×‘×¢××•×“×•×ª DataFrame ×‘×ª×•×š ×‘×™×˜×•×™×™×

## ğŸ“¦ ×™×™×‘×•× ×¡×¤×¨×™×•×ª ×•×”×›× ×ª × ×ª×•× ×™×

×¨××©×™×ª, × ×™×™×‘× ××ª ×”×¡×¤×¨×™×•×ª ×”× ×“×¨×©×•×ª ×•× ×™×¦×•×¨ DataFrame ×œ×“×•×’××”:

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

# ×™×¦×™×¨×ª DataFrame ×¢× × ×ª×•× ×™ ×©××•×ª
data = [
    ("James", "Bond"),
    ("Scott", "Varsa")
]

df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.show()

## ğŸ“ 1. ×ª×—×‘×™×¨ expr() <a id='syntax'></a>

```python
expr(str)
```

×”×¤×•× ×§×¦×™×” `expr()` ××§×‘×œ×ª ×‘×™×˜×•×™ SQL ×›××¨×’×•×× ×˜ ××¡×•×’ ××—×¨×•×–×ª, ××‘×¦×¢×ª ××ª ×”×‘×™×˜×•×™, ×•××—×–×™×¨×” ××•×‘×™×™×§×˜ ××¡×•×’ `pyspark.sql.Column`.

×‘×™×˜×•×™×™× ×©×¡×•×¤×§×• ×¢× ×”×¤×•× ×§×¦×™×” ×”×–×• ××™× × ××”×•×•×™× ×‘×˜×™×—×•×ª compile-time ×›××• ×¤×¢×•×œ×•×ª DataFrame ×¨×’×™×œ×•×ª.

## ğŸ”— 2. ×©×¨×©×•×¨ ×¢××•×“×•×ª ×¢× || (×“×•××” ×œ-SQL) <a id='concat'></a>

×× ×™×© ×œ×š ×¨×§×¢ ×‘-SQL, ××ª×” ×‘×•×•×“××™ ××›×™×¨ ××ª ×”×©×™××•×© ×‘-`||` ×œ×©×¨×©×•×¨ ×¢×¨×›×™× ××©×ª×™ ×¢××•×“×•×ª ××—×¨×•×–×ª. ××¤×©×¨ ×œ×¢×©×•×ª ×‘×“×™×•×§ ××ª ××•×ª×• ×”×“×‘×¨ ×¢× `expr()`:

In [ ]:
from pyspark.sql.functions import expr

# ×©×¨×©×•×¨ ×©××•×ª
data = [("James", "Bond"), ("Scott", "Varsa")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])

df.withColumn("Name", expr("col1 || ',' || col2")).show()

## âš–ï¸ 3. ×©×™××•×© ×‘-CASE WHEN ×¢× expr() <a id='case-when'></a>

**PySpark ×œ× ×ª×•××š ×‘-CASE WHEN ×‘×¦×•×¨×” ×™×©×™×¨×”** ×“×¨×š `withColumn()` ××• `select()`. ×¢×œ ×× ×ª ×œ×”×©×ª××© ×‘×‘×™×˜×•×™ CASE WHEN, ×¦×¨×™×š ×œ×”×©×ª××© ×‘-`expr()`.

**×—×œ×•×¤×”:** ××¤×©×¨ ×’× ×œ×”×©×ª××© ×‘-`when().otherwise()` ×‘××§×•×.

In [ ]:
# ×™×¦×™×¨×ª DataFrame ×¢× × ×ª×•× ×™ ××’×“×¨
data = [("James", "M"), ("Michael", "F"), ("Jen", "")]
columns = ["name", "gender"]
df = spark.createDataFrame(data=data, schema=columns)

# ×©×™××•×© ×‘-CASE WHEN ×›×“×™ ×œ×”×—×œ×™×£ ×¢×¨×›×™×
df2 = df.withColumn(
    "gender",
    expr(
        "CASE WHEN gender = 'M' THEN 'Male' " +
        "WHEN gender = 'F' THEN 'Female' " +
        "WHEN gender IS NULL THEN '' " +
        "ELSE gender END"
    )
)

df2.show()

## ğŸ’¡ 4. ×©×™××•×© ×‘×¢×¨×š ×§×™×™× ××¢××•×“×” ××—×¨×ª <a id='column-value'></a>

×¨×•×‘ ×”×¤×•× ×§×¦×™×•×ª ×œ×•×§×—×•×ª ×¢×¨×›×™ ×§×‘×•×¢×™× (literal), ××‘×œ ×œ×¤×¢××™× ×× ×—× ×• ×¦×¨×™×›×™× ×œ×”×©×ª××© ×‘×¢×¨×š ××¢××•×“×” ×§×™×™××ª ×‘××§×•× ×§×‘×•×¢. ×”× ×” ×“×•×’××” ×©××•×¡×™×¤×” ×¢×¨×š ×—×•×“×©×™× ××¢××•×“×” ×§×™×™××ª:

In [ ]:
# ×”×•×¡×¤×ª ×—×•×“×©×™× ××¢××•×“×”
data = [
    ("2019-01-23", 1),
    ("2019-06-24", 2),
    ("2019-09-20", 3)
]

df = spark.createDataFrame(data=data, schema=["date", "increment"])

df.select(
    df.date,
    df.increment,
    expr("add_months(date, increment) as inc_date")
).alias("inc_date").show()

**×”×¢×¨×”:** ×™×™×‘×•× ×¤×•× ×§×¦×™×•×ª SQL ×œ× × ×“×¨×© ×›××©×¨ ××©×ª××©×™× ×‘×”×Ÿ ×¢× `expr()`. ×¨×•××™× ×œ××¢×œ×” ×©-`add_months()` × ×¢×©×” ×‘×œ×™ ×œ×™×™×‘×.

## ğŸ·ï¸ 5. ××ª×Ÿ ×›×™× ×•×™ (alias) ×œ×¢××•×“×” ×‘×××¦×¢×•×ª 'as' <a id='alias'></a>

××¤×©×¨ ×œ×¡×¤×§ ×›×™× ×•×™ ×œ×¢××•×“×” ×‘×××¦×¢×•×ª ×”××™×œ×” 'as' ×‘×ª×•×š ×”×‘×™×˜×•×™ ×©×œ `expr()`:

In [ ]:
# ××ª×Ÿ ×›×™× ×•×™ ×¢× 'as'
df.select(
    df.date,
    df.increment,
    expr("""add_months(date, increment) as inc_date""")
).show()

## ğŸ”„ 6. ×”××¨×ª ×˜×™×¤×•×¡×™× ×¢× cast() <a id='cast'></a>

×”×“×•×’××” ×”×‘××” ×××™×¨×” ×˜×™×¤×•×¡ long ×œ×˜×™×¤×•×¡ String:

In [ ]:
# ×”××¨×ª ×˜×™×¤×•×¡
df.select(
    "increment",
    expr("cast(increment as string) as str_increment")
).printSchema()

## â• 7. ×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ <a id='arithmetic'></a>

`expr()` ××©××© ×’× ×œ×‘×™×¦×•×¢ ×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ. ×”×“×•×’××” ×”×‘××” ××•×¡×™×¤×” 5 ×œ×¢×¨×š `increment` ×•×™×•×¦×¨×ª ×¢××•×“×” ×—×“×©×” `new_increment`:

In [ ]:
# ×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ
df.select(
    df.date,
    df.increment,
    expr("increment + 5 as new_increment")
).show()

## ğŸ” 8. ×¡×™× ×•×Ÿ ×©×•×¨×•×ª ×¢× filter() <a id='filter'></a>

××¤×©×¨ ×œ×”×©×ª××© ×‘-`expr()` ×’× ×œ×¡×™× ×•×Ÿ ×©×•×¨×•×ª ×©×œ DataFrame:

In [ ]:
# ×¡×™× ×•×Ÿ × ×ª×•× ×™×
data = [(100, 2), (200, 3000), (500, 500)]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])

df.filter(expr("col1 == col2")).show()

## ğŸ“ 9. ×“×•×’××” ××œ××” <a id='complete-example'></a>

×”× ×” ×“×•×’××” ××§×™×¤×” ×”××©×œ×‘×ª ××ª ×›×œ ××” ×©×œ××“× ×•:

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

# ×©×¨×©×•×¨ ×¢××•×“×•×ª
data = [("James", "Bond"), ("Scott", "Varsa")]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.withColumn("Name", expr("col1 || ',' || col2")).show()

# ×©×™××•×© ×‘-CASE WHEN
data = [("James", "M"), ("Michael", "F"), ("Jen", "")]
columns = ["name", "gender"]
df = spark.createDataFrame(data=data, schema=columns)
df2 = df.withColumn(
    "gender",
    expr("CASE WHEN gender = 'M' THEN 'Male' " +
         "WHEN gender = 'F' THEN 'Female' " +
         "WHEN gender IS NULL THEN '' " +
         "ELSE gender END")
)
df2.show()

# ×”×•×¡×¤×ª ×—×•×“×©×™× ××¢×¨×š ×‘×¢××•×“×”
data = [("2019-01-23", 1), ("2019-06-24", 2), ("2019-09-20", 3)]
df = spark.createDataFrame(data=data, schema=["date", "increment"])
df.select(
    df.date,
    df.increment,
    expr("add_months(date, increment) as inc_date")
).show()

# ××ª×Ÿ ×›×™× ×•×™
df.select(
    df.date,
    df.increment,
    expr("""add_months(date, increment) as inc_date""")
).show()

# ×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ
df.select(
    df.date,
    df.increment,
    expr("increment + 5 as new_increment")
).show()

# ×”××¨×ª ×˜×™×¤×•×¡×™×
df.select(
    "increment",
    expr("cast(increment as string) as str_increment")
).printSchema()

# ×¡×™× ×•×Ÿ
data = [(100, 2), (200, 3000), (500, 500)]
df = spark.createDataFrame(data=data, schema=["col1", "col2"])
df.filter(expr("col1 == col2")).show()

## âœ¨ ×¡×™×›×•×

×”×¤×•× ×§×¦×™×” `expr()` ×‘-PySpark ××¡×¤×§×ª ×“×¨×š ×œ×”×¨×™×¥ ×‘×™×˜×•×™×™× ×“××•×™×™ SQL ×¢× DataFrames, ×•×”×™× ×××¤×©×¨×ª:

- âœ… ×©×™××•×© ×‘×¤×•× ×§×¦×™×•×ª SQL ×©××™× ×Ÿ ×–××™× ×•×ª ×™×©×™×¨×•×ª ×‘-PySpark
- âœ… ×©×¨×©×•×¨ ×¢××•×“×•×ª ×¢× ××•×¤×¨×˜×•×¨ `||`
- âœ… ×‘×™×˜×•×™×™ CASE WHEN
- âœ… ×©×™××•×© ×‘×¢×¨×›×™× ××¢××•×“×•×ª ××—×¨×•×ª ×‘×ª×•×š ×‘×™×˜×•×™×™×
- âœ… ×”××¨×ª ×˜×™×¤×•×¡×™×, ×¤×¢×•×œ×•×ª ×—×©×‘×•×Ÿ ×•×¡×™× ×•×Ÿ

**×˜×™×¤ ×—×©×•×‘:** ×›××©×¨ ××©×ª××©×™× ×‘-`expr()`, ×”×‘×™×˜×•×™×™× ××™× × ×¢×•×‘×¨×™× ×‘×“×™×§×” ×‘×–××Ÿ ×§×•××¤×™×œ×¦×™×”, ×œ×›×Ÿ ×™×© ×œ×”×™×–×”×¨ ××˜×¢×•×™×•×ª ×›×ª×™×‘!

## ğŸ“š ××§×•×¨×•×ª <a id='references'></a>

- [PySpark SQL Functions Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)
- [SparkByExamples - PySpark expr() Function](https://sparkbyexamples.com/pyspark/pyspark-sql-expr-expression-function/)