<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# âœ‚ï¸ PySpark - split() - ×¤×™×¦×•×œ ××—×¨×•×–×•×ª ×œ××¢×¨×›×™×
[PySpark Convert String to Array Column](https://sparkbyexamples.com/pyspark/pyspark-convert-string-to-array-column/)
## ×ª×•×›×Ÿ ×¢× ×™×™× ×™×
1. [×”×§×“××”](#introduction)
2. [×ª×—×‘×™×¨ split()](#syntax)
3. [×”××¨×ª ×¢××•×“×ª ××—×¨×•×–×ª ×œ××¢×¨×š](#convert-string-to-array)
4. [×©×™××•×© ×‘-split() ×¢× withColumn()](#with-column)
5. [×©×™××•×© ×‘-split() ×¢× SQL Query](#with-sql)
6. [×“×•×’××” ××œ××”](#complete-example)
7. [××§×•×¨×•×ª](#references)

## ğŸ¯ ×”×§×“××” <a id='introduction'></a>

**PySpark SQL** ××¡×¤×§×ª ×¤×•× ×§×¦×™×” `split()` ××ª×•×š ××•×“×•×œ `pyspark.sql.functions`. ×¤×•× ×§×¦×™×” ×–×• ××©××©×ª ×œ×”××¨×ª ×¢××•×“×ª ××—×¨×•×–×ª ×œ-×¢××•×“×ª ××¢×¨×š.

×”×¤×•× ×§×¦×™×” ××¤×¦×œ×ª ××—×¨×•×–×ª ×¢×œ ×‘×¡×™×¡ ×ª×•×•×™ ×”×¤×¨×“×” (delimiter) ×›××• ×¤×¡×™×§, ×¨×•×•×—, ×¦×™× ×•×¨ ×•×›×•', ×•××—×–×™×¨×” ××•×‘×™×™×§×˜ ××¡×•×’ `pyspark.sql.Column` ××¡×•×’ Array.

## ğŸ“ ×ª×—×‘×™×¨ split() <a id='syntax'></a>

```python
pyspark.sql.functions.split(str, pattern, limit=-1)
```

### ×¤×¨××˜×¨×™×:

- **str**: ×©× ×”×¢××•×“×” ×”××›×™×œ×” ××ª ×”××—×¨×•×–×ª ×©××× ×” ××ª×” ×¨×•×¦×” ×œ×—×œ×¥ ×ª×ª-××—×¨×•×–×ª
- **pattern**: ×ª×‘× ×™×ª ×”×¤×¨×“×” (delimiter). ×× ×œ× ××¦×•×™× ×ª, ×”×¤×•× ×§×¦×™×” ×ª×—×œ×¥ ××¢××“×ª ×”×¤×™×¦×•×œ ×¢×“ ×¡×•×£ ×”××—×¨×•×–×ª
- **limit** (××•×¤×¦×™×•× ×œ×™): ××¡×¤×¨ ×”××œ×× ×˜×™× ×”××§×¡×™××œ×™ ×œ×”×—×–×¨×”. ×× ×œ× ××¦×•×™×Ÿ, ×”×¤×•× ×§×¦×™×” ×ª×—×–×™×¨ ××ª ×›×œ ×”××œ×× ×˜×™×

## ğŸ“¦ ×™×™×‘×•× ×¡×¤×¨×™×•×ª ×•×”×›× ×ª × ×ª×•× ×™×

×¨××©×™×ª, × ×™×™×‘× ××ª ×”×¡×¤×¨×™×•×ª ×”× ×“×¨×©×•×ª ×•× ×™×¦×•×¨ DataFrame ×œ×“×•×’××” ×¢× ×¢××•×“×ª ×©××•×ª ××•×¤×¨×“×ª ×‘×¤×¡×™×§×™×:

In [ ]:
from pyspark.sql import SparkSession

# ×™×¦×™×¨×ª Spark Session
spark = SparkSession.builder.appName("stringoperations").getOrCreate()

# ×™×¦×™×¨×ª DataFrame ×¢× × ×ª×•× ×™ ×©××•×ª
data = [
    ("James, A, Smith", "2018", "M", 3000),
    ("Michael, Rose, Jones", "2010", "M", 4000),
    ("Robert, K, Williams", "2010", "M", 4000),
    ("Maria, Anne, Jones", "2005", "F", 4000),
    ("Jen, Mary, Brown", "2010", "", -1)
]

columns = ["name", "dob_year", "gender", "salary"]
df = spark.createDataFrame(data=data, schema=columns)
df.printSchema()
df.show(truncate=False)

## ğŸ”„ ×”××¨×ª ×¢××•×“×ª ××—×¨×•×–×ª ×œ××¢×¨×š <a id='convert-string-to-array'></a>

× ×™×™×‘× ××ª `split` ×•-`col` ×•× ×©×ª××© ×‘×¤×•× ×§×¦×™×” `split()` ×¢×œ ×¢××•×“×ª ×”-name ×›×“×™ ×œ×¤×¦×œ ××•×ª×” ×œ××¢×¨×š ×¢×œ ×‘×¡×™×¡ ×¤×¡×™×§×™×:

In [ ]:
from pyspark.sql.functions import split, col

# ×¤×™×¦×•×œ ×¢××•×“×ª 'name' ×œ××¢×¨×š
df2 = df.select(
    split(col("name"), ",").alias("NameArray")
).alias("NameArray")

df2.printSchema()
df2.show()

### ğŸ“‹ ×”×¡×‘×¨ ×”×¤×œ×˜:

×›×¤×™ ×©××ª×” ×¨×•××” ×‘×¤×œ×˜ ×œ××¢×œ×”, ×¢××•×“×ª NameArray ×”×™× ××¡×•×’ array ×”××›×™×œ×” ××œ×× ×˜×™× ××¡×•×’ string.

## ğŸ”¨ ×©×™××•×© ×‘-split() ×¢× withColumn() <a id='with-column'></a>

××¤×©×¨ ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×” `split()` ×‘×ª×•×š ××ª×•×“×ª `withColumn()` ×›×“×™ ×œ×™×¦×•×¨ ×¢××•×“×” ×—×“×©×” ×¢× ××¢×¨×š ×¢×œ ×”-DataFrame.

×× ××™× ×š ×–×§×•×§ ×œ×¢××•×“×” ×”××§×•×¨×™×ª, ×”×©×ª××© ×‘-`drop()` ×›×“×™ ×œ×”×¡×™×¨ ××•×ª×”:

In [ ]:
# ×¤×™×¦×•×œ ×¢××•×“×ª 'name' ×œ×©×œ×•×©×” ×—×œ×§×™×: ×©× ×¤×¨×˜×™, ×©× ×××¦×¢, ×©× ××©×¤×—×”
df = df.withColumn("name_array", split(df["name"], ","))

# ×”×¦×’×ª DataFrame ×”××¢×•×“×›×Ÿ
df.show(truncate=False)

## ğŸ“Š ×©×™××•×© ×‘-split() ×¢× SQL Query <a id='with-sql'></a>

×œ×—×œ×•×¤×™×Ÿ, ××ª×” ×™×›×•×œ ×œ×›×ª×•×‘ ××ª ××•×ª×• ×”×“×•×’××” ×‘×××¦×¢×•×ª ×©××™×œ×ª×ª SQL.

×¨××©×™×ª, ×¦×•×¨ Temporary View ×‘×××¦×¢×•×ª `createOrReplaceTempView()` ×•-`spark.sql()` ×›×“×™ ×œ×”×¨×™×¥ ××ª ×©××™×œ×ª×ª ×”-SQL:

In [ ]:
# ×™×¦×™×¨×ª Temporary View
df.createOrReplaceTempView("PERSON")

# ×”×¨×¦×ª SQL Query
spark.sql("select SPLIT(name, ',') as NameArray from PERSON").show()

## ğŸ“ ×“×•×’××” ××œ××” <a id='complete-example'></a>

×”× ×” ×“×•×’××” ××§×™×¤×” ×”××©×œ×‘×ª ××ª ×›×œ ××” ×©×œ××“× ×•:

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

data = [
    ("James, A, Smith", "2018", "M", 3000),
    ("Michael, Rose, Jones", "2010", "M", 4000),
    ("Robert, K, Williams", "2010", "M", 4000),
    ("Maria, Anne, Jones", "2005", "F", 4000),
    ("Jen, Mary, Brown", "2010", "", -1)
]

columns = ["name", "dob_year", "gender", "salary"]
df = spark.createDataFrame(data=data, schema=columns)
df.printSchema()
df.show(truncate=False)

# ×©×™××•×© ×‘-split() ×¢× select
from pyspark.sql.functions import split, col
df2 = df.select(split(col("name"), ",").alias("NameArray")).alias("NameArray")
df2.printSchema()
df2.show()

# ×©×™××•×© ×‘-split() ×¢× withColumn
df2 = df.select(split(col("name"), ",").alias("NameArray"))
df2.printSchema()
df2.show()

# ×©×™××•×© ×¢× SQL
df.createOrReplaceTempView("PERSON")
spark.sql("select SPLIT(name, ',') as NameArray from PERSON").show()

## âœ¨ ×¡×™×›×•×

×‘×©×™×¢×•×¨ ×–×” ×œ××“× ×• ×“×¨×›×™× ×©×•× ×•×ª ×œ×¤×™×¦×•×œ ×¢××•×“×ª ××—×¨×•×–×ª ×‘-PySpark DataFrame:

**× ×§×•×“×•×ª ××¤×ª×—:**
- âœ… `split()` - ×¤×™×¦×•×œ ××—×¨×•×–×ª ×œ××¢×¨×š ×¢×œ ×‘×¡×™×¡ delimiter
- âœ… ×©×™××•×© ×¢× `select()` ×œ×™×¦×™×¨×ª DataFrame ×—×“×©
- âœ… ×©×™××•×© ×¢× `withColumn()` ×œ×”×•×¡×¤×ª ×¢××•×“×” ×œ××¢×¨×š ×§×™×™×
- âœ… ×©×™××•×© ×¢× SQL query ×•-`createOrReplaceTempView()`

**××ª×™ ×œ×”×©×ª××©:**
- ×›××©×¨ ×™×© ×œ×š ××—×¨×•×–×•×ª ××•×¤×¨×“×•×ª ×‘×¤×¡×™×§×™×, ×¨×•×•×—×™× ××• ×ª×•×•×™ ×”×¤×¨×“×” ××—×¨×™×
- ×›××©×¨ ××ª×” ×¨×•×¦×” ×œ×”××™×¨ ×¢××•×“×” ×œ××¢×¨×š ×œ×¢×™×‘×•×“ × ×•×¡×£
- ×›××©×¨ ××ª×” ×¦×¨×™×š ×œ×¤×¦×œ ×©××•×ª ××œ××™× ×œ×—×œ×§×™×”×

×”×’×™×©×” ×”×–×• ×©×™××•×©×™×ª ×‘××™×•×—×“ ×œ×˜×¨× ×¡×¤×•×¨××¦×™×” ×©×œ ××—×¨×•×–×•×ª ××•×¤×¨×“×•×ª ×‘××‘× ×” ××¢×¨×š ×œ××˜×¨×•×ª ×¢×™×‘×•×“ × ×•×¡×¤×•×ª!

## ğŸ“š ××§×•×¨×•×ª <a id='references'></a>

- [PySpark SQL Functions Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)
- [SparkByExamples - PySpark split() Column into Multiple Columns](https://sparkbyexamples.com/pyspark/pyspark-convert-string-to-array-column/)