<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# ğŸ“Š PySpark: ×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×•×ª ×‘-DataFrame
[PySpark Replace Column Values in DataFrame](https://sparkbyexamples.com/pyspark/pyspark-replace-column-values/)
## ×ª×•×›×Ÿ ×¢× ×™×™× ×™×
1. [×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×ª ××—×¨×•×–×•×ª](#section1)
2. [×”×—×œ×¤×ª ×¢×¨×›×™× ×‘×ª× ××™](#section2)
3. [×”×—×œ×¤×ª ×¢×¨×›×™× ×‘×××¦×¢×•×ª ××™×œ×•×Ÿ (Dictionary)](#section3)
4. [×”×—×œ×¤×ª ×ª×• ×‘×ª×•](#section4)
5. [×”×—×œ×¤×ª ×¢××•×“×” ×‘×¢×¨×š ××¢××•×“×” ××—×¨×ª](#section5)
6. [×”×—×œ×¤×ª ×›×œ ×”×¢××•×“×•×ª ××• ××¡×¤×¨ ×¢××•×“×•×ª](#section6)
7. [×©×™××•×© ×‘×¤×•× ×§×¦×™×” overlay()](#section7)
8. [×“×•×’××” ××œ××”](#section8)

---

## ğŸ¯ ××‘×•×

×‘××“×¨×™×š ×–×” × ×œ××“ ×›×™×¦×“ ×œ×”×—×œ×™×£ ×¢×¨×›×™× ×‘×¢××•×“×•×ª ×©×œ PySpark DataFrame ×‘×××¦×¢×•×ª ×¤×•× ×§×¦×™×•×ª SQL ×›××•:
- `regexp_replace()` - ×”×—×œ×¤×” ×‘×××¦×¢×•×ª ×‘×™×˜×•×™×™× ×¨×’×•×œ×¨×™×™×
- `translate()` - ×”×—×œ×¤×ª ×ª×•×•×™× ×‘×•×“×“×™×
- `overlay()` - ×”×—×œ×¤×ª ×—×œ×§ ×××—×¨×•×–×ª

× ×›×¡×” ×“×•×’×××•×ª ××¢×©×™×•×ª ×œ×”×—×œ×¤×ª ×—×œ×§ ×××—×¨×•×–×ª, ×”×—×œ×¤×ª ×›×œ ×”×¢××•×“×•×ª, ×©×™× ×•×™ ×¢×¨×›×™× ×‘×ª× ××™, ×”×—×œ×¤×ª ×¢×¨×›×™× ×××™×œ×•×Ÿ Python, ×•×”×—×œ×¤×ª ×¢×¨×š ×¢××•×“×” ××¢××•×“×” ××—×¨×ª ×‘-DataFrame.

---

## ğŸ”§ ×”×›× ×ª ×”×¡×‘×™×‘×” ×•×˜×¢×™× ×ª × ×ª×•× ×™×

×¨××©×™×ª, × ×™×™×¦×¨ DataFrame ×œ×“×•×’××” ×¢× ×›×ª×•×‘×•×ª ×©× ×©×ª××© ×‘×”×Ÿ ×œ×›×œ ×”×“×•×’×××•×ª ×‘××“×¨×™×š.

In [ ]:
# ×™×™×‘×•× ×”×¡×¤×¨×™×•×ª ×”× ×“×¨×©×•×ª
# Create sample Data
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

address = [
    (1, "14851 Jeffrey Rd", "DE"),
    (2, "43421 Margarita St", "NY"),
    (3, "13111 Siemon Ave", "CA")
]

df = spark.createDataFrame(address, ["id", "address", "state"])
df.show()

---

<a id="section1"></a>
## 1ï¸âƒ£ ×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×ª ××—×¨×•×–×•×ª (Replace String Column Values)

### ğŸ“ ×”×¡×‘×¨

×‘×××¦×¢×•×ª ×”×¤×•× ×§×¦×™×” `regexp_replace()` ×©×œ PySpark SQL × ×™×ª×Ÿ ×œ×”×—×œ×™×£ ×¢×¨×š ×¢××•×“×” ×‘××—×¨×•×–×ª ××—×¨×ª ××• ×‘×ª×ª-××—×¨×•×–×ª.

×”×¤×•× ×§×¦×™×” `regexp_replace()` ××©×ª××©×ª ×‘-**Java regex** ×œ×”×ª×××”. ×× ×”×‘×™×˜×•×™ ×”×¨×’×•×œ×¨×™ ×œ× ×ª×•××, ×”×¤×•× ×§×¦×™×” ××—×–×™×¨×” ××—×¨×•×–×ª ×¨×§×”.

×‘×“×•×’××” ×”×‘××”, × ×—×œ×™×£ ××ª ×©× ×”×¨×—×•×‘ `Rd` ×‘××™×œ×” `Road` ×‘×¢××•×“×ª `address`:

In [ ]:
# ×”×—×œ×¤×ª ×—×œ×§ ×××—×¨×•×–×ª ×‘××—×¨×•×–×ª ××—×¨×ª
from pyspark.sql.functions import regexp_replace

df.withColumn(
    'address', 
    regexp_replace(df.address, 'Rd', 'Road')
).show(truncate=False)

---

<a id="section2"></a>
## 2ï¸âƒ£ ×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×” ×‘×ª× ××™ (Replace Column Values Conditionally)

### ğŸ“ ×”×¡×‘×¨

×‘×“×•×’××” ×”×§×•×“××ª ×”×—×œ×¤× ×• ×¨×§ ××ª `Rd` ×‘-`Road`, ××š ×œ× ×”×—×œ×¤× ×• ××ª `St` ×•-`Ave`. 

×›×¢×ª × ×¨××” ×›×™×¦×“ ×œ×”×—×œ×™×£ ×¢×¨×›×™ ×¢××•×“×” **×‘×ª× ××™** ×‘-PySpark DataFrame ×‘×××¦×¢×•×ª ×¤×•× ×§×¦×™×•×ª:
- `when()` - ×ª× ××™ IF
- `otherwise()` - ×ª× ××™ ELSE
- SQL condition functions

In [ ]:
# ×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×ª ××—×¨×•×–×ª ×‘×ª× ××™
from pyspark.sql.functions import when

df.withColumn(
    'address',
    when(df.address.endswith('Rd'), regexp_replace(df.address, 'Rd', 'Road'))
    .when(df.address.endswith('St'), regexp_replace(df.address, 'St', 'Street'))
    .when(df.address.endswith('Ave'), regexp_replace(df.address, 'Ave', 'Avenue'))
    .otherwise(df.address)
).show(truncate=False)

---

<a id="section3"></a>
## 3ï¸âƒ£ ×”×—×œ×¤×ª ×¢×¨×›×™ ×¢××•×“×” ×¢× ××™×œ×•×Ÿ - Dictionary (map)

### ğŸ“ ×”×¡×‘×¨

× ×™×ª×Ÿ ×’× ×œ×”×—×œ×™×£ ×¢×¨×›×™ ×¢××•×“×” ×-**Python dictionary (map)**.

×‘×“×•×’××” ×”×‘××”, × ×—×œ×™×£ ××ª ×¢×¨×š ×”××—×¨×•×–×ª ×‘×¢××•×“×ª `state` ×¢× ×”×©× ×”××œ× ×”××§×•×¦×¨ ××”××™×œ×•×Ÿ (key-value pair).

×›×“×™ ×œ×¢×©×•×ª ×–××ª, × ×©×ª××© ×‘-**PySpark map() transformation ×›×“×™ ×œ×¢×‘×•×¨ ×¢×œ ×›×œ ×©×•×¨×”** ×‘-DataFrame:

In [ ]:
# ×”×—×œ×¤×ª ×¢×¨×›×™× ×××™×œ×•×Ÿ (Dictionary)
stateDic = {
    'CA': 'California',
    'NY': 'New York',
    'DE': 'Delaware'
}

df2 = df.rdd.map(
    lambda x: (x.id, x.address, stateDic[x.state])
).toDF(["id", "address", "state"])

df2.show()

---

<a id="section4"></a>
## 4ï¸âƒ£ ×”×—×œ×¤×ª ×ª×• ×‘×ª×• (Replace Column Value Character by Character)

### ğŸ“ ×”×¡×‘×¨

×‘×××¦×¢×•×ª ×”×¤×•× ×§×¦×™×” `translate()` × ×™×ª×Ÿ **×œ×”×—×œ×™×£ ×ª×• ×‘×ª×•** ×‘×¢×¨×š ×¢××•×“×ª DataFrame.

×‘×“×•×’××” ×”×‘××”, ×›×œ ×ª×• `1` ××•×—×œ×£ ×‘-`A`, `2` ××•×—×œ×£ ×‘-`B`, ×•-`3` ××•×—×œ×£ ×‘-`C` ×‘×¢××•×“×ª `address`:

In [ ]:
# ×©×™××•×© ×‘-translate ×œ×”×—×œ×¤×ª ×ª×•×•×™× ×‘×•×“×“×™×
from pyspark.sql.functions import translate

df.withColumn(
    'address', 
    translate(df.address, '123', 'ABC')
).show(truncate=False)

---

<a id="section5"></a>
## 5ï¸âƒ£ ×”×—×œ×¤×ª ×¢××•×“×” ×‘×¢×¨×š ××¢××•×“×” ××—×¨×ª (Replace Column with Another Column Value)

### ğŸ“ ×”×¡×‘×¨

×‘×××¦×¢×•×ª `expr()` ×•-`regexp_replace()` × ×™×ª×Ÿ **×œ×”×—×œ×™×£ ×¢×¨×š ×¢××•×“×” ×‘×¢×¨×š ××¢××•×“×ª DataFrame ××—×¨×ª**.

×‘×“×•×’××” ×”×‘××”, × ×ª××™× ××ª ×”×¢×¨×š ××¢××•×“×” `col2` ×‘×¢××•×“×” `col1` ×•× ×—×œ×™×£ ××•×ª×• ×‘-`col3` ×›×“×™ ×œ×™×¦×•×¨ ×¢××•×“×” ×—×“×©×” `new_column`.

××©×ª××©×™× ×‘-`expr()` ×›×“×™ ×œ×¡×¤×§ ×‘×™×˜×•×™×™× ×“××•×™×™ SQL, ×•×”×•× ××©××© ×œ×”×ª×™×™×—×¡×•×ª ×œ×¢××•×“×” ××—×¨×ª ×‘×‘×™×¦×•×¢ ×¤×¢×•×œ×•×ª:

In [ ]:
# ×”×—×œ×¤×ª ×¢××•×“×” ×‘×¢×¨×š ××¢××•×“×” ××—×¨×ª
from pyspark.sql.functions import expr

df = spark.createDataFrame(
    [('ABCDE_XYZ', 'XYZ', 'FGH'),('111_222_333', '222', '888')],
    ['col1', 'col2', 'col3']
)
df.show()

In [ ]:
df.withColumn(
    'new_column',
    expr("regexp_replace(col1, col2, col3)")
).alias("replaced_value").show()

---

<a id="section6"></a>
## 6ï¸âƒ£ ×”×—×œ×¤×ª ×›×œ ×”×¢××•×“×•×ª ××• ××¡×¤×¨ ×¢××•×“×•×ª (Replace All or Multiple Column Values)

### ğŸ“ ×”×¡×‘×¨

×× ×‘×¨×¦×•× ×š ×œ×”×—×œ×™×£ ×¢×¨×›×™× ×‘×›×œ ×”×¢××•×“×•×ª ××• ×‘××¡×¤×¨ ×¢××•×“×•×ª × ×‘×—×¨×•×ª ×‘-DataFrame, ×¢×™×™×Ÿ ×‘××“×¨×™×›×™× ×”×‘××™×:

- ğŸ“˜ [×›×™×¦×“ ×œ×”×—×œ×™×£ NULL/None values ×‘×›×œ ×”×¢××•×“×•×ª ×‘-PySpark](https://sparkbyexamples.com/pyspark/pyspark-fillna-fill-replace-null-values/)
- ğŸ“˜ [×›×™×¦×“ ×œ×”×—×œ×™×£ ××—×¨×•×–×ª ×¨×™×§×” ×¢× NULL/None value](https://sparkbyexamples.com/pyspark/pyspark-replace-empty-value-with-none/)

---

<a id="section7"></a>
## 7ï¸âƒ£ ×©×™××•×© ×‘×¤×•× ×§×¦×™×” overlay()

### ğŸ“ ×”×¡×‘×¨

×”×¤×•× ×§×¦×™×” `overlay()` ×××¤×©×¨×ª **×œ×”×—×œ×™×£ ×¢×¨×š ×¢××•×“×ª ××—×¨×•×–×ª ×‘×¢×¨×š ××—×¨×•×–×ª ××¢××•×“×” ××—×¨×ª**.

In [ ]:
# ×“×•×’××” ×œ×©×™××•×© ×‘-overlay
from pyspark.sql.functions import overlay

df = spark.createDataFrame(
    [('ABCDE_XYZ', 'FGH'),('111_222_333', '888')],
    ['col1', 'col2']
)
df.show()

In [ ]:
df = df.withColumn('overlayed',
    overlay('col1', 'col2', 7)
)
df.show()

---

<a id="section8"></a>
## 8ï¸âƒ£ ×“×•×’××” ××œ××” - ×›×œ ×”×§×•×“ ×‘×™×—×“

### ğŸ“ ×”×¡×‘×¨

×œ×”×œ×Ÿ ×“×•×’××” ××œ××” ×”×›×•×œ×œ×ª ××ª ×›×œ ×”×©×™×˜×•×ª ×©×œ××“× ×• ×‘××“×¨×™×š ×–×”:

In [ ]:
# ×§×•×“ ××œ× - ×›×œ ×”×“×•×’×××•×ª ×‘×™×—×“
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

address = [
    (1, "14851 Jeffrey Rd", "DE"),
    (2, "43421 Margarita St", "NY"),
    (3, "13111 Siemon Ave", "CA")
]

df = spark.createDataFrame(address, ["id", "address", "state"])
df.show()

In [ ]:
# ×”×—×œ×¤×ª ××—×¨×•×–×ª ×¤×©×•×˜×”
from pyspark.sql.functions import regexp_replace

df.withColumn(
    'address', 
    regexp_replace(df.address, 'Rd', 'Road')
).show(truncate=False)

In [ ]:
# ×”×—×œ×¤×ª ××—×¨×•×–×ª ×‘×ª× ××™
from pyspark.sql.functions import when

df.withColumn(
    'address',
    when(df.address.endswith('Rd'), regexp_replace(df.address, 'Rd', 'Road'))
    .when(df.address.endswith('St'), regexp_replace(df.address, 'St', 'Street'))
    .when(df.address.endswith('Ave'), regexp_replace(df.address, 'Ave', 'Avenue'))
    .otherwise(df.address)
).show(truncate=False)

In [ ]:
# ×”×—×œ×¤×ª ×¢×¨×›×™× ×××™×œ×•×Ÿ (Dictionary)
stateDic = {
    'CA': 'California',
    'NY': 'New York',
    'DE': 'Delaware'
}

df2 = df.rdd.map(
    lambda x: (x.id, x.address, stateDic[x.state])
).toDF(["id", "address", "state"])

df2.show()

In [ ]:
# ×©×™××•×© ×‘-translate
from pyspark.sql.functions import translate

df.withColumn(
    'address', 
    translate(df.address, '123', 'ABC')
).show(truncate=False)

In [ ]:
# ×”×—×œ×¤×ª ×¢××•×“×” ×‘×¢×¨×š ××¢××•×“×” ××—×¨×ª
from pyspark.sql.functions import expr

df = spark.createDataFrame(
    [('ABCDE_XYZ', 'XYZ', 'FGH')],
    ['col1', 'col2', 'col3']
)

df.withColumn(
    'new_column',
    expr("regexp_replace(col1, col2, col3)")
).alias("replaced_value").show()

In [ ]:
# Overlay
from pyspark.sql.functions import overlay

df = spark.createDataFrame(
    [('ABCDE_XYZ', 'FGH')],
    ['col1', 'col2']
)

df.select(
    overlay('col1', 'col2', 7).alias('overlayed')
).show()

---

## ğŸ“ ×¡×™×›×•×

×‘××“×¨×™×š ×–×” ×œ××“× ×•:

âœ… ×”×¤×•× ×§×¦×™×” `regexp_replace()` ××©××©×ª ×œ×”×—×œ×¤×ª ××—×¨×•×–×ª ×‘×¢××•×“×ª DataFrame ×¢× ×¢×¨×š ××—×¨

âœ… ×”×¤×•× ×§×¦×™×” `translate()` ××©××©×ª ×œ×”×—×œ×¤×ª ×ª×• ×‘×ª×• ×©×œ ×¢×¨×›×™ ×¢××•×“×•×ª

âœ… ×”×¤×•× ×§×¦×™×” `overlay()` ××©××©×ª ×œ×©×›×ª×•×‘ ××—×¨×•×–×ª ×¢× ××—×¨×•×–×ª ×¢××•×“×” ××—×¨×ª ×××™×§×•× ×”×ª×—×œ×” ×•××¡×¤×¨ ×ª×•×•×™×

âœ… ×‘× ×•×¡×£, ×œ××“× ×• ×›×™×¦×“ ×œ×”×—×œ×™×£ ×¢×¨×›×™ ×¢××•×“×•×ª ×××™×œ×•×Ÿ (dictionary) ×‘×××¦×¢×•×ª ×“×•×’×××•×ª Python

**ğŸ‰ ×œ××™×“×” ××”× ×”!**

---

## ğŸ“š ××§×•×¨×•×ª ×•××××¨×™× × ×•×¡×¤×™×

### ××××¨×™× ×§×©×•×¨×™×:
- [PySpark repartition() â€“ Explained with Examples](https://sparkbyexamples.com/pyspark/pyspark-repartition/)
- [PySpark Replace Empty Value With None/null on DataFrame](https://sparkbyexamples.com/pyspark/pyspark-replace-empty-value-with-none/)
- [PySpark createOrReplaceTempView() Explained](https://sparkbyexamples.com/pyspark/pyspark-create-or-replace-temp-view/)
- [PySpark fillna() & fill() â€“ Replace NULL/None Values](https://sparkbyexamples.com/pyspark/pyspark-fillna-fill-replace-null-values/)
- [PySpark repartition() vs partitionBy()](https://sparkbyexamples.com/pyspark/pyspark-repartition-vs-partitionby/)
- [PySpark Repartition() vs Coalesce()](https://sparkbyexamples.com/pyspark/pyspark-repartition-vs-coalesce/)
- [PySpark Replace Empty Value With None/null on DataFrame](https://sparkbyexamples.com/pyspark/pyspark-replace-empty-value-with-none/)
- [Pyspark Select Distinct Rows](https://sparkbyexamples.com/pyspark/pyspark-distinct-to-drop-duplicates/)
- [PySpark Get Number of Rows and Columns](https://sparkbyexamples.com/pyspark/pyspark-get-number-of-rows-and-columns/)

### ××§×•×¨×•×ª ×—×™×¦×•× ×™×™×:
- [Apache Spark Documentation](https://spark.apache.org/docs/latest/)
- [PySpark SQL Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html)
- [Handling Null/Empty Strings in PySpark](https://kb.databricks.com/data/null-empty-strings.html)

---

**Â© SparkByExamples.com - All rights reserved**

*××“×¨×™×š ×–×” ×ª×•×¨×’× ×•×¢×•×‘×“ ×œ×¢×‘×¨×™×ª ×œ××˜×¨×•×ª ×œ×™××•×“*