<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# ğŸ”¢ Count Distinct ×‘-PySpark DataFrame
[PySpark Count Distinct from DataFrame](https://sparkbyexamples.com/pyspark/pyspark-count-distinct-from-dataframe/)
## ğŸ“š ××‘×•×

×‘-PySpark, ××¤×©×¨ ×œ×”×©×ª××© ×‘-`distinct().count()` ×©×œ DataFrame ××• ×‘-`countDistinct()` ×©×œ ×¤×•× ×§×¦×™×•×ª SQL ×›×“×™ ×œ×§×‘×œ ××ª ×¡×¤×™×¨×ª ×”-distinct.

×‘××××¨ ×–×” × ×œ××“:
1. ××™×š ×œ×§×‘×œ count distinct ××›×œ ×”×¢××•×“×•×ª
2. ××™×š ×œ×§×‘×œ count distinct ××¢××•×“×•×ª ××¨×•×‘×•×ª × ×‘×—×¨×•×ª

---

## ğŸ› ï¸ ×”×›× ×ª ×”×¡×‘×™×‘×” ×•×”× ×ª×•× ×™×

×œ×¤× ×™ ×©× ×ª×—×™×œ, × ×™×¦×•×¨ DataFrame ×©×œ PySpark ×¢× ×›××” ×©×•×¨×•×ª ×›×¤×•×œ×•×ª ×•×›××” ×¢×¨×›×™× ×›×¤×•×œ×™× ×‘×¢××•×“×”:

In [ ]:
# ×™×‘×•× ×¡×¤×¨×™×•×ª
from pyspark.sql import SparkSession

# ×™×¦×™×¨×ª Spark Session
spark = SparkSession.builder \
    .appName("SparkByExamples.com") \
    .getOrCreate()

# ×”×’×“×¨×ª × ×ª×•× ×™ ×“×•×’××”
data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]

# ×”×’×“×¨×ª ×©××•×ª ×”×¢××•×“×•×ª
columns = ["Name", "Dept", "Salary"]

# ×™×¦×™×¨×ª DataFrame
df = spark.createDataFrame(data=data, schema=columns)

# ×”×¦×’×ª ×”× ×ª×•× ×™×
df.show(truncate=False)

**×”×¢×¨×”:** ×‘-DataFrame ×–×” ×™×© ×œ× ×•:
- ×©×•×¨×” ×›×¤×•×œ×” ×©×œ××” (James, Sales, 3000)
- ×¢×¨×›×™ Salary ×›×¤×•×œ×™×

---

## 1ï¸âƒ£ ×©×™××•×© ×‘-distinct().count()

×¢×œ ×”-DataFrame ×©×œ××¢×œ×”, ×™×© ×œ× ×• ×¡×š ×©×œ 10 ×©×•×¨×•×ª ×•×©×•×¨×” ××—×ª ×¢× ×›×œ ×”×¢×¨×›×™× ×›×¤×•×œ×™×.

×‘×™×¦×•×¢ `distinct().count()` ×¢×œ DataFrame ×–×” ×××•×¨ ×œ×ª×ª ×œ× ×• 9 ×œ××—×¨ ×©×”×¡×¨× ×• ×©×•×¨×” ××—×ª ×›×¤×•×œ×”.

In [ ]:
# ×”×—×œ×ª distinct() ×•-count()
df1 = df.distinct()
print(df1.count())

## 2ï¸âƒ£ ×§×‘×œ×ª Distinct Values ××¢××•×“×” ××—×ª

×‘×“×•×’××” ×œ××˜×” × ×§×‘×œ distinct ×•××– × ×—×™×œ count ×¢×œ ×©× ×”×¢××•×“×”:

In [ ]:
# ×§×‘×œ×ª distinct count ××¢××•×“×” ××—×ª
df2 = df.select("Name").distinct()
print(df2.count())

**×”×¡×‘×¨:**
- `select("Name")` - ×‘×•×—×¨ ×¨×§ ××ª ×¢××•×“×ª Name
- `distinct()` - ××¡×™×¨ ×›×¤×™×œ×•×™×•×ª
- `count()` - ×¡×•×¤×¨ ××ª ×”××¡×¤×¨

---

## 3ï¸âƒ£ ×©×™××•×© ×‘-countDistinct() SQL Function

×”-DataFrame `distinct()` ××—×–×™×¨ DataFrame ×—×“×© ×œ××—×¨ ×”×¡×¨×ª ×©×•×¨×•×ª ×›×¤×•×œ×•×ª (×”×ª×××” ×œ×›×œ ×”×¢××•×“×•×ª ×©×œ Row).

×× ×¨×•×¦×™× ×œ×§×‘×œ distinct count ×¢×œ ××¡×¤×¨ ×¢××•×“×•×ª × ×‘×—×¨×•×ª, ××©×ª××©×™× ×‘×¤×•× ×§×¦×™×™×ª PySpark SQL `countDistinct()`.

×”×¤×•× ×§×¦×™×” ×”×–×• ××—×–×™×¨×” ××ª ××¡×¤×¨ ×”××œ×× ×˜×™× ×”-distinct ×‘×§×‘×•×¦×”.

×›×“×™ ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×” ×”×–×•, ×¦×¨×™×š ×œ×™×™×‘× ××•×ª×” ×ª×—×™×œ×”:

In [ ]:
# ×©×™××•×© ×‘-countDistinct()
from pyspark.sql.functions import countDistinct

df2 = df.select(countDistinct("Dept", "Salary"))
df2.show()



**×”×¢×¨×”:** ×”×¤×•× ×§×¦×™×” `countDistinct()` ××—×–×™×¨×” ×¢×¨×š ×‘×¢××•×“×” ×‘×¢×œ×ª Column type, ×•×œ×›×Ÿ ×¦×¨×™×š ×œ×”×©×ª××© ×‘-`collect()` ×›×“×™ ×œ×§×‘×œ ××ª ×”×¢×¨×š ××”-DataFrame.

---

## 4ï¸âƒ£ ×”×—×œ×ª collect() ×œ××—×¨ countDistinct()

×©×™× ×œ×‘ ×©-`countDistinct()` ××—×–×™×¨ ×¢×¨×š ×‘-Column type, ×•×œ×›×Ÿ ×¦×¨×™×š ×œ××¡×•×£ ××•×ª×• ×›×“×™ ×œ×§×‘×œ ××ª ×”×¢×¨×š ××”-DataFrame.

×¤×•× ×§×¦×™×” ×–×• ×™×›×•×œ×” ×œ×©××© ×›×“×™ ×œ×§×‘×œ distinct count ×©×œ ×›×œ ××¡×¤×¨ ×©×œ ×¢××•×“×•×ª × ×‘×—×¨×•×ª ××• ××›×œ ×”×¢××•×“×•×ª:

In [ ]:
# ×©×™××•×© ×‘-collect() ×œ××—×¨ countDistinct()
print("Distinct Count of Department & Salary: " +
      str(df2.collect()[0][0]))

## 5ï¸âƒ£ ×©×™××•×© ×‘-SQL ×›×“×™ ×œ×§×‘×œ Count Distinct

×œ×—×œ×•×¤×™×Ÿ, ××¤×©×¨ ×’× ×œ×”×©×ª××© ×‘-SQL ×›×“×™ ×œ×”×©×™×’ ××ª ××•×ª×” ×ª×•×¦××”:

In [ ]:
# ×©×™××•×© ×‘-SQL
df.createOrReplaceTempView("EMP")

spark.sql("select distinct(count(*)) from EMP").show()

××•:

In [ ]:
# ×’×¨×¡×” ××—×¨×ª ×©×œ SQL
spark.sql("select count(distinct(*)) from EMP").show()

**×”×¢×¨×”:** ×©×™××•×© ×‘-SQL ××¡×¤×§ ×ª×—×‘×™×¨ ××•×›×¨ ×œ××™ ×©××›×™×¨ SQL ××¡×•×¨×ª×™.

---

## ğŸ“ ×§×•×“ ××œ× - ×“×•×’××” ××§×™×¤×”

×œ×”×œ×Ÿ ×”×§×•×“ ×”××œ× ×”××©×œ×‘ ××ª ×›×œ ×”×“×•×’×××•×ª:

In [ ]:
# ×§×•×“ ××œ×
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkByExamples.com") \
    .getOrCreate()

data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]

columns = ["Name", "Dept", "Salary"]
df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

# ×©×™××•×© ×‘-distinct().count()
df1 = df.distinct()
print("Distinct Count: " + str(df1.count()))

# ×©×™××•×© ×‘-countDistinct()
from pyspark.sql.functions import countDistinct
df2 = df.select(countDistinct("Dept", "Salary"))
df2.show()

print("Distinct Count of Department & Salary: " + 
      str(df2.collect()[0][0]))

# ×©×™××•×© ×‘-SQL
df.createOrReplaceTempView("EMP")
spark.sql("select count(distinct(Dept, Salary)) from EMP").show()

---

## ğŸ“ ×¡×™×›×•×

×‘××××¨ ×–×”, ×œ××“×ª ×›×™×¦×“ ×œ×§×‘×œ count distinct ××›×œ ×”×¢××•×“×•×ª ××• ××¢××•×“×•×ª ××¨×•×‘×•×ª × ×‘×—×¨×•×ª ×¢×œ PySpark DataFrame.

**×œ×¡×™×›×•× ×”××•×©×’×™× ×©×œ××“× ×•:**

âœ… **distinct()** - ××¡×™×¨ ×©×•×¨×•×ª ×›×¤×•×œ×•×ª ×-DataFrame

âœ… **count()** - ×¡×•×¤×¨ ××ª ××¡×¤×¨ ×”×©×•×¨×•×ª

âœ… **countDistinct()** - ×¤×•× ×§×¦×™×™×ª SQL ×©××—×–×™×¨×” count distinct ×©×œ ×¢××•×“×•×ª × ×‘×—×¨×•×ª

âœ… **collect()** - ××•×¡×£ ××ª ×”×ª×•×¦××” ××”-DataFrame

### ğŸ“Š ×”×©×•×•××ª ×©×™×˜×•×ª

| ×©×™×˜×” | ×©×™××•×© | ×™×ª×¨×•× ×•×ª |
|------|-------|----------|
| `distinct().count()` | Count distinct ×¢×œ ×›×œ ×”×¢××•×“×•×ª | ×¤×©×•×˜ ×•×‘×¨×•×¨ |
| `countDistinct()` | Count distinct ×¢×œ ×¢××•×“×•×ª ×¡×¤×¦×™×¤×™×•×ª | ×’××™×© ×™×•×ª×¨ |
| SQL | ×‘×™×˜×•×™×™ SQL | ××•×›×¨ ×œ××©×ª××©×™ SQL |

### ğŸ“š ××××¨×™× ×§×©×•×¨×™×
- [PySpark count() â€“ Different Methods Explained](https://sparkbyexamples.com/pyspark/pyspark-count/)
- [PySpark Distinct to Drop Duplicate Rows](https://sparkbyexamples.com/pyspark/pyspark-distinct-to-drop-duplicate-rows/)
- [PySpark Count of Non null, nan Values in DataFrame](https://sparkbyexamples.com/pyspark/pyspark-count-of-non-null-nan-values-in-dataframe/)
- [PySpark Groupby Count Distinct](https://sparkbyexamples.com/pyspark/pyspark-groupby-count-distinct/)
- [PySpark GroupBy Count â€“ Explained](https://sparkbyexamples.com/pyspark/pyspark-groupby-count/)
- [PySpark â€“ Find Count of null, None, NaN Values](https://sparkbyexamples.com/pyspark/pyspark-find-count-of-null-none-nan-values/)
- [Pyspark Select Distinct Rows](https://sparkbyexamples.com/pyspark/pyspark-select-distinct-rows/)
- [PySpark Get Number of Rows and Columns](https://sparkbyexamples.com/pyspark/pyspark-get-number-of-rows-and-columns/)

---

**Happy Learning! ğŸš€**