<style>
    body, * {
        direction: rtl !important;
        text-align: right !important;
    }
</style>
# ğŸ“Š GroupBy ×•×¡×™×“×•×¨ ×‘×¡×“×¨ ×™×•×¨×“ ×‘-PySpark DataFrame
[PySpark DataFrame groupBy and Sort by Descending Order](https://sparkbyexamples.com/pyspark/pyspark-dataframe-groupby-and-sort-by-descending-order/)
## ğŸ“š ××‘×•×

×‘-DataFrame ×©×œ PySpark, × ×¨××” ×›×™×¦×“ ×œ×¢×©×•×ª ××ª ×”×¤×¢×•×œ×•×ª ×”×‘××•×ª ×‘×¨×¦×£:

1ï¸âƒ£ **×§×™×‘×•×¥ × ×ª×•× ×™×** - ×©×™××•×© ×‘×¤×•× ×§×¦×™×™×ª ××’×¨×’×¦×™×” `sum()`

2ï¸âƒ£ **×¡×™× ×•×Ÿ ×”×ª×•×¦××•×ª** - ×©×™××•×© ×‘-`filter()` ×¢×œ ×§×‘×•×¦×•×ª

3ï¸âƒ£ **××™×•×Ÿ ×”×ª×•×¦××•×ª** - ×©×™××•×© ×‘-`sort()` ××• `orderBy()` ×œ×¡×™×“×•×¨ ×‘×¡×“×¨ ×¢×•×œ×” ××• ×™×•×¨×“

---

## ğŸ› ï¸ ×”×›× ×ª ×”×¡×‘×™×‘×” ×•×”× ×ª×•× ×™×

×‘×›×“×™ ×œ×”×“×’×™× ××ª ×›×œ ×”×¤×¢×•×œ×•×ª ×”×œ×œ×• ×™×—×“, × ×™×¦×•×¨ DataFrame ×©×œ PySpark:

In [ ]:
# ×™×‘×•× ×¡×¤×¨×™×•×ª
from pyspark.sql import SparkSession

# ×™×¦×™×¨×ª Spark Session
spark = SparkSession.builder.appName("GroupByExample").getOrCreate()

# ×”×’×“×¨×ª × ×ª×•× ×™ ×“×•×’××”
simpleData = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NY", 86000, 56, 20000),
    ("Robert", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000),
    ("Raman", "Finance", "CA", 99000, 40, 24000),
    ("Scott", "Finance", "NY", 83000, 36, 19000),
    ("Jen", "Finance", "NY", 79000, 53, 15000),
    ("Jeff", "Marketing", "CA", 80000, 25, 18000),
    ("Kumar", "Marketing", "NY", 91000, 50, 21000)
]

# ×”×’×“×¨×ª ×©××•×ª ×”×¢××•×“×•×ª
columns = ["employee_name", "department", "state", "salary", "age", "bonus"]

# ×™×¦×™×¨×ª DataFrame
df = spark.createDataFrame(data=simpleData, schema=columns)

# ×”×¦×’×ª ×”× ×ª×•× ×™×
df.printSchema()
df.show(truncate=False)

---

## 1ï¸âƒ£ ×©×™××•×© ×‘-groupBy(), filter() ×•-sort()

×œ×”×œ×Ÿ ×“×•×’××” ××œ××” ×©×œ ××™×š ×œ×¢×©×•×ª ×§×™×‘×•×¥ × ×ª×•× ×™× ×‘-DataFrame, ×¡×™× ×•×Ÿ ×•×¡×™×“×•×¨ ×‘×¡×“×¨ ×™×•×¨×“.

### ğŸ“‹ ×”×¡×‘×¨ ×¢×œ ×”×ª×”×œ×™×š:

×¨××©×™×ª, × ×¢×©×” **×§×™×‘×•×¥ PySpark ×¢×œ DataFrame** ×‘×××¦×¢×•×ª ×¤×•× ×§×¦×™×™×ª ××’×¨×’×¦×™×” `sum("salary")`.

`groupBy()` ××—×–×™×¨ ××•×‘×™×™×§×˜ `GroupedData` ×©××›×™×œ ×¤×•× ×§×¦×™×•×ª ××’×¨×’×¦×™×” ×›××•:
- `sum()`
- `max()`
- `min()`
- `mean()`
- `count()`

In [ ]:
# ×§×™×‘×•×¥ ×œ×¤×™ state ×•×—×™×©×•×‘ ×¡×›×•×
from pyspark.sql.functions import sum, col, desc

df.groupBy("state").sum("salary").show()

### ğŸ” ×”×¡×‘×¨ ××¤×•×¨×˜ ×¢×œ ×”×“×•×’××”

×‘×“×•×’××” ×œ××¢×œ×”, ××™ ××¤×©×¨ ×œ×ª×ª ×©× alias ×œ×¢××•×“×ª ×”××’×¨×’×¦×™×” ×•×©× ×”×¢××•×“×” ×œ× ×™×“×™×“×•×ª×™ ×œ××©×ª××©.

××›×™×•×•×Ÿ ×©×–×” ××—×–×™×¨ ×¡×›×•× ×©×œ ×©×›×¨, ×¢×“×™×£ ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×™×ª SQL `sum()` ×©×œ ×”××—×œ×§×” ×”×–×•.

×¢×›×©×™×• × ×¨××” ×›×™×¦×“ ×œ×”×©×ª××© ×‘-`agg()` ×›×“×™ ×œ×ª×ª alias ×‘×××¦×¢×•×ª ×¤×•× ×§×¦×™×” `alias()` ×©×œ ×”××—×œ×§×” ×”×–×•.

×›××• ×›×Ÿ, ×›×“×™ ×œ×¡× ×Ÿ ×•×œ××™×™×Ÿ ×œ××—×¨ ×”×§×™×‘×•×¥, ×¦×¨×™×š ×œ×”×›×™×¨ ××ª ×©× ×”×¢××•×“×” ×”××“×•×™×§, ×œ×›×Ÿ × ×©×ª××© ×‘-`alias()` ×›×“×™ ×œ×¡×¤×§ ×©× ×¢××•×“×”:

---

## 2ï¸âƒ£ ×’×™×©×” ××©×•×¤×¨×ª - ×©×™××•×© ×‘-alias()

×œ×”×œ×Ÿ ×“×•×’××” ×œ×§×™×‘×•×¥ ×¢× ××ª×Ÿ ×©× ×‘×¨×•×¨ ×œ×¢××•×“×”:

In [ ]:
# Group by ×‘×××¦×¢×•×ª agg() ×•-alias
from pyspark.sql.functions import sum

dfGrouped = df.groupBy("state") \
    .agg(sum("salary").alias("sum_salary"))

dfGrouped.show()

**×”×¡×‘×¨:**
- ×©×™××•×© ×‘-`agg()` ×××¤×©×¨ ×œ× ×• ×œ×”×©×ª××© ×‘×¤×•× ×§×¦×™×•×ª ××’×¨×’×¦×™×” ××ª×§×“××•×ª
- ×©×™××•×© ×‘-`alias()` × ×•×ª×Ÿ ×©× ××ª××™× ×œ×¢××•×“×ª ×”×ª×•×¦××”

---

## 3ï¸âƒ£ ×¡×™× ×•×Ÿ ×œ××—×¨ ×§×™×‘×•×¥

×œ×”×œ×Ÿ ×“×•×’××” ×œ×‘×—×™×¨×ª ×”× ×ª×•× ×™× ×©×¡×›×•× ×”×©×›×¨ ×©×œ×”× ×’×“×•×œ ×-100,000:

In [ ]:
# ×¡×™× ×•×Ÿ ×œ××—×¨ ×§×™×‘×•×¥
dfFilter = dfGrouped.filter(col("sum_salary") > 100000)
dfFilter.show()

## 4ï¸âƒ£ ××™×•×Ÿ ×‘×¡×“×¨ ×¢×•×œ×”

×¢×›×©×™×• × ×©×ª××© ×‘-DataFrame sort() transformation ×©×œ PySpark ×›×“×™ ×œ××™×™×Ÿ ×œ×¤×™ ×¡×“×¨ ×¢×•×œ×” ×‘×‘×¨×™×¨×ª ××—×“×œ:

In [ ]:
# ××™×•×Ÿ ×‘×¡×“×¨ ×¢×•×œ×”

dfFilter.sort("sum_salary").show()

**×”×¢×¨×”:** ××™×•×Ÿ ×‘×¡×“×¨ ×¢×•×œ×” ×”×•× ×‘×¨×™×¨×ª ×”××—×“×œ.

---

## 5ï¸âƒ£ ××™×•×Ÿ ×‘×¡×“×¨ ×™×•×¨×“ - ×©×™××•×© ×‘-desc()

×‘×›×“×™ ×œ×¢×©×•×ª ×¡×™×“×•×¨ ×‘×¡×“×¨ ×™×•×¨×“, × ×©×ª××© ×‘×¤×•× ×§×¦×™×™×ª Spark SQL `desc()`:

In [ ]:
# ××™×•×Ÿ ×‘×¡×“×¨ ×™×•×¨×“
from pyspark.sql.functions import desc

dfFilter.sort(desc("sum_salary")).show()

## ğŸ’¡ ×—×œ×•×¤×”: ×©×™××•×© ×‘-SQL

×œ×—×œ×•×¤×™×Ÿ, ××¤×©×¨ ×’× ×œ×”×©×ª××© ×‘×‘×™×˜×•×™ SQL ×›×“×™ ×œ×”×©×™×’ ××ª ××•×ª×” ×”×ª×•×¦××”:

In [ ]:
# ×©×™××•×© ×‘-SQL
df.createOrReplaceTempView("EMP")

spark.sql(
    "SELECT state, sum(salary) as sum_salary FROM EMP " +
    "GROUP BY state " +
    "HAVING sum(salary) > 100000 " +
    "ORDER BY sum_salary DESC"
).show()

**×”×¢×¨×”:** ×’×™×©×ª SQL ××¡×¤×§×ª ×ª×—×‘×™×¨ ××•×›×¨ ×œ××™ ×©××›×™×¨ SQL ××¡×•×¨×ª×™.

---

## ğŸ“ ×§×•×“ ××œ× - ×“×•×’××” ××§×™×¤×”

×œ×”×œ×Ÿ ×”×§×•×“ ×”××œ× ×”××©×œ×‘ ××ª ×›×œ ×”×©×œ×‘×™×:

In [ ]:
# ×§×•×“ ××œ×
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, col, desc

spark = SparkSession.builder.appName("GroupByExample").getOrCreate()

simpleData = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NY", 86000, 56, 20000),
    ("Robert", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000),
    ("Raman", "Finance", "CA", 99000, 40, 24000),
    ("Scott", "Finance", "NY", 83000, 36, 19000),
    ("Jen", "Finance", "NY", 79000, 53, 15000),
    ("Jeff", "Marketing", "CA", 80000, 25, 18000),
    ("Kumar", "Marketing", "NY", 91000, 50, 21000)
]

columns = ["employee_name", "department", "state", "salary", "age", "bonus"]
df = spark.createDataFrame(data=simpleData, schema=columns)
df.printSchema()
df.show(truncate=False)

# ×”×¦×¢×” 1: ×©×™××•×© ×‘×¡×™×¡×™
df.groupBy("state").sum("salary").show()

# ×”×¦×¢×” 2: ×¢× alias ×•×¡×™× ×•×Ÿ
dfGrouped = df.groupBy("department") \
    .agg(sum("bonus").alias("sum_bonus"))

dfFilter = dfGrouped.filter(col("sum_bonus") > 100000)
dfFilter.show()

# ××™×•×Ÿ ×‘×¡×“×¨ ×™×•×¨×“
dfFilter.sort(desc("sum_bonus")).show()

# ×’×™×©×ª SQL
df.createOrReplaceTempView("EMP")
spark.sql(
    "SELECT state, sum(salary) as sum_salary FROM EMP " +
    "GROUP BY state " +
    "HAVING sum(salary) > 100000 " +
    "ORDER BY sum_salary DESC"
).show()

---

## ğŸ“ ×¡×™×›×•×

×‘×“×•×’××ª PySpark ×–×• ×”×¡×‘×¨×ª×™ ×›×™×¦×“ ×œ×¢×©×•×ª groupBy(), filter() ×•-sort() ×‘×¡×“×¨ ×™×•×¨×“. ×× ×™ ××§×•×•×” ×©××”×‘×ª× ××ª ×–×”.

**×œ×¡×™×›×•× ×”××•×©×’×™× ×©×œ××“× ×•:**

âœ… **groupBy()** - ××§×‘×¥ × ×ª×•× ×™× ×œ×¤×™ ×¢××•×“×” ××• ××¡×¤×¨ ×¢××•×“×•×ª

âœ… **agg()** - ×××¤×©×¨ ×©×™××•×© ×‘×¤×•× ×§×¦×™×•×ª ××’×¨×’×¦×™×” ××•×¨×›×‘×•×ª

âœ… **alias()** - × ×•×ª×Ÿ ×©× ×‘×¨×•×¨ ×œ×¢××•×“×•×ª ××—×•×©×‘×•×ª

âœ… **filter()** - ××¡× ×Ÿ ××ª ×”×ª×•×¦××•×ª ×œ×¤×™ ×ª× ××™

âœ… **sort()/orderBy()** - ×××™×™×Ÿ ××ª ×”×ª×•×¦××•×ª

âœ… **desc()** - ×××¤×©×¨ ××™×•×Ÿ ×‘×¡×“×¨ ×™×•×¨×“

### ğŸ“š ××××¨×™× ×§×©×•×¨×™×
- [PySpark Groupby Count Distinct](https://sparkbyexamples.com/pyspark/pyspark-groupby-count-distinct/)
- [PySpark Groupby on Multiple Columns](https://sparkbyexamples.com/pyspark/pyspark-groupby-on-multiple-columns/)
- [PySpark Groupby Agg (aggregate) â€“ Explained](https://sparkbyexamples.com/pyspark/pyspark-groupby-agg-aggregate/)
- [PySpark GroupBy Count â€“ Explained](https://sparkbyexamples.com/pyspark/pyspark-groupby-count/)
- [PySpark GroupBy Explained with Example](https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/)
- [PySpark Column alias after groupBy() Example](https://sparkbyexamples.com/pyspark/pyspark-column-alias-after-groupby-example/)
- [PySpark distinct vs dropDuplicates](https://sparkbyexamples.com/pyspark/pyspark-distinct-vs-dropduplicates/)
- [PySpark Get Number of Rows and Columns](https://sparkbyexamples.com/pyspark/pyspark-get-number-of-rows-and-columns/)

---

**Happy Learning! ğŸš€**